In [1]:
import os
import pandas as pd
import pathlib

# br dataset

In [6]:
list_color = ['RGB', 'grayscale']
list_image_size = ['256', '400', '512']
list_minimum_image = ['5', '10', '20']
path_dataset = '/home/xandao/Documentos/dataset_gimp/imagens_br/imagens/'

for color in list_color:
    for image_size in list_image_size:
        for minimum_image in list_minimum_image:
            p = os.path.join(path_dataset, color, 'specific_epithet', image_size, minimum_image)
            print(p)
            file_labels = [f for f in pathlib.Path(p).rglob('label2.txt') if f.is_file()]
            if len(file_labels) == 1:
                df = pd.read_csv(file_labels[0], header=None, sep=';', names=['species', 'folder', 'count'])
                display('color: %s image_size: %s minimum_image: %s' % (
                color, image_size, minimum_image))
                for folder_name in df['folder']:
                    df['list_images'] = str(
                        [str(image.stem) for image in pathlib.Path(os.path.join(p, folder_name)).rglob('*.jpeg') if
                         image.is_file()])
                display(df.head(5))
                filename = '%s_%s_%s.csv' % (color, image_size, minimum_image)
                filename = os.path.join('csv', 'br', filename)
                df.to_csv(filename, sep=';', header=None, index=None, lineterminator='\n')

/home/xandao/Documentos/dataset_gimp/imagens_br/imagens/RGB/specific_epithet/256/5

'color: RGB image_size: 256 minimum_image: 5'

,species,folder,count,list_images
0,aduncum,f1,377,"['SPF00035812', 'NY00956894_01', 'SPF00134166'..."
1,anisum,f2,94,"['SPF00035812', 'NY00956894_01', 'SPF00134166'..."
2,michelianum,f3,6,"['SPF00035812', 'NY00956894_01', 'SPF00134166'..."
3,pubisubmarginalum,f4,15,"['SPF00035812', 'NY00956894_01', 'SPF00134166'..."
4,glaziovii,f5,6,"['SPF00035812', 'NY00956894_01', 'SPF00134166'..."

/home/xandao/Documentos/dataset_gimp/imagens_br/imagens/RGB/specific_epithet/256/10

'color: RGB image_size: 256 minimum_image: 10'

,species,folder,count,list_images
0,aduncum,f1,377,"['SPF00035812', 'NY00956894_01', 'SPF00134166'..."
1,anisum,f2,94,"['SPF00035812', 'NY00956894_01', 'SPF00134166'..."
2,pubisubmarginalum,f3,15,"['SPF00035812', 'NY00956894_01', 'SPF00134166'..."
3,peltatum,f4,55,"['SPF00035812', 'NY00956894_01', 'SPF00134166'..."
4,nigrispicum,f5,22,"['SPF00035812', 'NY00956894_01', 'SPF00134166'..."

/home/xandao/Documentos/dataset_gimp/imagens_br/imagens/RGB/specific_epithet/256/20

'color: RGB image_size: 256 minimum_image: 20'

,species,folder,count,list_images
0,aduncum,f1,377,"['SPF00035812', 'NY00956894_01', 'SPF00134166'..."
1,anisum,f2,94,"['SPF00035812', 'NY00956894_01', 'SPF00134166'..."
2,peltatum,f3,55,"['SPF00035812', 'NY00956894_01', 'SPF00134166'..."
3,nigrispicum,f4,22,"['SPF00035812', 'NY00956894_01', 'SPF00134166'..."
4,caldense,f5,167,"['SPF00035812', 'NY00956894_01', 'SPF00134166'..."

/home/xandao/Documentos/dataset_gimp/imagens_br/imagens/RGB/specific_epithet/400/5

'color: RGB image_size: 400 minimum_image: 5'

,species,folder,count,list_images
0,aduncum,f1,377,"['SPF00035812', 'NY00956894_01', 'SPF00134166'..."
1,anisum,f2,94,"['SPF00035812', 'NY00956894_01', 'SPF00134166'..."
2,michelianum,f3,6,"['SPF00035812', 'NY00956894_01', 'SPF00134166'..."
3,pubisubmarginalum,f4,15,"['SPF00035812', 'NY00956894_01', 'SPF00134166'..."
4,glaziovii,f5,6,"['SPF00035812', 'NY00956894_01', 'SPF00134166'..."

/home/xandao/Documentos/dataset_gimp/imagens_br/imagens/RGB/specific_epithet/400/10

'color: RGB image_size: 400 minimum_image: 10'

,species,folder,count,list_images
0,aduncum,f1,377,"['SPF00035812', 'NY00956894_01', 'SPF00134166'..."
1,anisum,f2,94,"['SPF00035812', 'NY00956894_01', 'SPF00134166'..."
2,pubisubmarginalum,f3,15,"['SPF00035812', 'NY00956894_01', 'SPF00134166'..."
3,peltatum,f4,55,"['SPF00035812', 'NY00956894_01', 'SPF00134166'..."
4,nigrispicum,f5,22,"['SPF00035812', 'NY00956894_01', 'SPF00134166'..."

/home/xandao/Documentos/dataset_gimp/imagens_br/imagens/RGB/specific_epithet/400/20

'color: RGB image_size: 400 minimum_image: 20'

,species,folder,count,list_images
0,aduncum,f1,377,"['SPF00035812', 'NY00956894_01', 'SPF00134166'..."
1,anisum,f2,94,"['SPF00035812', 'NY00956894_01', 'SPF00134166'..."
2,peltatum,f3,55,"['SPF00035812', 'NY00956894_01', 'SPF00134166'..."
3,nigrispicum,f4,22,"['SPF00035812', 'NY00956894_01', 'SPF00134166'..."
4,caldense,f5,167,"['SPF00035812', 'NY00956894_01', 'SPF00134166'..."

/home/xandao/Documentos/dataset_gimp/imagens_br/imagens/RGB/specific_epithet/512/5

'color: RGB image_size: 512 minimum_image: 5'

,species,folder,count,list_images
0,aduncum,f1,377,"['SPF00035812', 'NY00956894_01', 'SPF00134166'..."
1,anisum,f2,94,"['SPF00035812', 'NY00956894_01', 'SPF00134166'..."
2,michelianum,f3,6,"['SPF00035812', 'NY00956894_01', 'SPF00134166'..."
3,pubisubmarginalum,f4,15,"['SPF00035812', 'NY00956894_01', 'SPF00134166'..."
4,glaziovii,f5,6,"['SPF00035812', 'NY00956894_01', 'SPF00134166'..."

/home/xandao/Documentos/dataset_gimp/imagens_br/imagens/RGB/specific_epithet/512/10

'color: RGB image_size: 512 minimum_image: 10'

,species,folder,count,list_images
0,aduncum,f1,377,"['SPF00035812', 'NY00956894_01', 'SPF00134166'..."
1,anisum,f2,94,"['SPF00035812', 'NY00956894_01', 'SPF00134166'..."
2,pubisubmarginalum,f3,15,"['SPF00035812', 'NY00956894_01', 'SPF00134166'..."
3,peltatum,f4,55,"['SPF00035812', 'NY00956894_01', 'SPF00134166'..."
4,nigrispicum,f5,22,"['SPF00035812', 'NY00956894_01', 'SPF00134166'..."

/home/xandao/Documentos/dataset_gimp/imagens_br/imagens/RGB/specific_epithet/512/20

'color: RGB image_size: 512 minimum_image: 20'

,species,folder,count,list_images
0,aduncum,f1,377,"['SPF00035812', 'NY00956894_01', 'SPF00134166'..."
1,anisum,f2,94,"['SPF00035812', 'NY00956894_01', 'SPF00134166'..."
2,peltatum,f3,55,"['SPF00035812', 'NY00956894_01', 'SPF00134166'..."
3,nigrispicum,f4,22,"['SPF00035812', 'NY00956894_01', 'SPF00134166'..."
4,caldense,f5,167,"['SPF00035812', 'NY00956894_01', 'SPF00134166'..."

/home/xandao/Documentos/dataset_gimp/imagens_br/imagens/grayscale/specific_epithet/256/5

'color: grayscale image_size: 256 minimum_image: 5'

      species folder  count                                        list_images
0  piscatorum     f1     14  ['INPA0179861', 'INPA0023412', 'NY01421846_01'...
1    glaziovi     f2      5  ['INPA0179861', 'INPA0023412', 'NY01421846_01'...
2    obliquum     f3     67  ['INPA0179861', 'INPA0023412', 'NY01421846_01'...
3  fuligineum     f4    177  ['INPA0179861', 'INPA0023412', 'NY01421846_01'...
4  javariense     f5     11  ['INPA0179861', 'INPA0023412', 'NY01421846_01'...

/home/xandao/Documentos/dataset_gimp/imagens_br/imagens/grayscale/specific_epithet/256/10

'color: grayscale image_size: 256 minimum_image: 10'

      species folder  count                                        list_images
0  piscatorum     f1     14  ['NY01801096_01', 'UEC149373', 'CEN00051602', ...
1    obliquum     f2     67  ['NY01801096_01', 'UEC149373', 'CEN00051602', ...
2  fuligineum     f3    177  ['NY01801096_01', 'UEC149373', 'CEN00051602', ...
3  javariense     f4     11  ['NY01801096_01', 'UEC149373', 'CEN00051602', ...
4   coruscans     f5     15  ['NY01801096_01', 'UEC149373', 'CEN00051602', ...

/home/xandao/Documentos/dataset_gimp/imagens_br/imagens/grayscale/specific_epithet/256/20

'color: grayscale image_size: 256 minimum_image: 20'

,species,folder,count,list_images
0,obliquum,f1,67,"['ESA031454', 'MBM116011', 'SPF00164804', 'MBM..."
1,fuligineum,f2,177,"['ESA031454', 'MBM116011', 'SPF00164804', 'MBM..."
2,oreophila,f3,30,"['ESA031454', 'MBM116011', 'SPF00164804', 'MBM..."
3,corcovadensis,f4,323,"['ESA031454', 'MBM116011', 'SPF00164804', 'MBM..."
4,regnellii,f5,121,"['ESA031454', 'MBM116011', 'SPF00164804', 'MBM..."

/home/xandao/Documentos/dataset_gimp/imagens_br/imagens/grayscale/specific_epithet/400/5

'color: grayscale image_size: 400 minimum_image: 5'

      species folder  count                                        list_images
0  piscatorum     f1     14  ['INPA0179861', 'INPA0023412', 'NY01421846_01'...
1    glaziovi     f2      5  ['INPA0179861', 'INPA0023412', 'NY01421846_01'...
2    obliquum     f3     67  ['INPA0179861', 'INPA0023412', 'NY01421846_01'...
3  fuligineum     f4    177  ['INPA0179861', 'INPA0023412', 'NY01421846_01'...
4  javariense     f5     11  ['INPA0179861', 'INPA0023412', 'NY01421846_01'...

/home/xandao/Documentos/dataset_gimp/imagens_br/imagens/grayscale/specific_epithet/400/10

'color: grayscale image_size: 400 minimum_image: 10'

      species folder  count                                        list_images
0  piscatorum     f1     14  ['NY01801096_01', 'UEC149373', 'CEN00051602', ...
1    obliquum     f2     67  ['NY01801096_01', 'UEC149373', 'CEN00051602', ...
2  fuligineum     f3    177  ['NY01801096_01', 'UEC149373', 'CEN00051602', ...
3  javariense     f4     11  ['NY01801096_01', 'UEC149373', 'CEN00051602', ...
4   coruscans     f5     15  ['NY01801096_01', 'UEC149373', 'CEN00051602', ...

/home/xandao/Documentos/dataset_gimp/imagens_br/imagens/grayscale/specific_epithet/400/20

'color: grayscale image_size: 400 minimum_image: 20'

,species,folder,count,list_images
0,obliquum,f1,67,"['ESA031454', 'MBM116011', 'SPF00164804', 'MBM..."
1,fuligineum,f2,177,"['ESA031454', 'MBM116011', 'SPF00164804', 'MBM..."
2,oreophila,f3,30,"['ESA031454', 'MBM116011', 'SPF00164804', 'MBM..."
3,corcovadensis,f4,323,"['ESA031454', 'MBM116011', 'SPF00164804', 'MBM..."
4,regnellii,f5,121,"['ESA031454', 'MBM116011', 'SPF00164804', 'MBM..."

/home/xandao/Documentos/dataset_gimp/imagens_br/imagens/grayscale/specific_epithet/512/5

'color: grayscale image_size: 512 minimum_image: 5'

      species folder  count                                        list_images
0  piscatorum     f1     14  ['INPA0179861', 'INPA0023412', 'NY01421846_01'...
1    glaziovi     f2      5  ['INPA0179861', 'INPA0023412', 'NY01421846_01'...
2    obliquum     f3     67  ['INPA0179861', 'INPA0023412', 'NY01421846_01'...
3  fuligineum     f4    177  ['INPA0179861', 'INPA0023412', 'NY01421846_01'...
4  javariense     f5     11  ['INPA0179861', 'INPA0023412', 'NY01421846_01'...

/home/xandao/Documentos/dataset_gimp/imagens_br/imagens/grayscale/specific_epithet/512/10

'color: grayscale image_size: 512 minimum_image: 10'

      species folder  count                                        list_images
0  piscatorum     f1     14  ['NY01801096_01', 'UEC149373', 'CEN00051602', ...
1    obliquum     f2     67  ['NY01801096_01', 'UEC149373', 'CEN00051602', ...
2  fuligineum     f3    177  ['NY01801096_01', 'UEC149373', 'CEN00051602', ...
3  javariense     f4     11  ['NY01801096_01', 'UEC149373', 'CEN00051602', ...
4   coruscans     f5     15  ['NY01801096_01', 'UEC149373', 'CEN00051602', ...

/home/xandao/Documentos/dataset_gimp/imagens_br/imagens/grayscale/specific_epithet/512/20

'color: grayscale image_size: 512 minimum_image: 20'

,species,folder,count,list_images
0,obliquum,f1,67,"['ESA031454', 'MBM116011', 'SPF00164804', 'MBM..."
1,fuligineum,f2,177,"['ESA031454', 'MBM116011', 'SPF00164804', 'MBM..."
2,oreophila,f3,30,"['ESA031454', 'MBM116011', 'SPF00164804', 'MBM..."
3,corcovadensis,f4,323,"['ESA031454', 'MBM116011', 'SPF00164804', 'MBM..."
4,regnellii,f5,121,"['ESA031454', 'MBM116011', 'SPF00164804', 'MBM..."