In [1]:
%reload_ext autoreload
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
import os
import sqlalchemy as sa

import database as db
from images import copy_images, get_list_of_images_invalid, save_metadata, select_images
from models import County, DataTrustedIdentifier

In [3]:
engine, session=db.connect()
engine.echo=False

2023-04-05 16:35:01,193 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2023-04-05 16:35:01,194 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-04-05 16:35:01,195 INFO sqlalchemy.engine.Engine select current_schema()
2023-04-05 16:35:01,195 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-04-05 16:35:01,196 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2023-04-05 16:35:01,196 INFO sqlalchemy.engine.Engine [raw sql] {}

In [4]:
list_minimum_image=[5, 10, 20]
list_color=['rgb', 'grayscale']
list_image_size=['256', '400', '512']
path_out = '/home/none/Imagens/br_dataset/images'
list_images_invalid=get_list_of_images_invalid()
list_images_invalid=list_images_invalid['barcode']

query = session.query(County).distinct().all()
state_unaccented_lower, uf_unaccented_lower, county_unaccented_lower=db.get_state_uf_county(query)

In [5]:
for color in list_color:
    for image_size in list_image_size:
        for minimum_image in list_minimum_image:
            list_level = []
            list_path_images_final = []
            list_seq_final = []
            list_count_samples = []

            level=DataTrustedIdentifier.specific_epithet_trusted
            out=os.path.join(path_out, color.upper(), level.name, image_size, str(minimum_image))

            condition = sa.and_(DataTrustedIdentifier.country_trusted.__eq__('Brasil'),
                                level.is_not(None),
                                sa.or_(uf_unaccented_lower, state_unaccented_lower))

            query = db.get_records_group_by_level(condition, level, minimum_image, session)
            print('color: %s image_size: %s minimum_image: %d' % (color.upper(), image_size, minimum_image))
            select_images(color, image_size, list_count_samples, list_level, list_images_invalid, list_path_images_final, list_seq_final, minimum_image, session, query)

            list_dst, list_f = copy_images(list_level, list_path_images_final, out)
            save_metadata(color, image_size, level, list_count_samples, list_dst, list_f, list_level, list_path_images_final, list_seq_final, minimum_image, out, session)

/home/none/PycharmProjects/piperaceae-sql/database.py:77: SAWarning: Class unaccent will not make use of SQL compilation caching as it does not set the 'inherit_cache' attribute to ``True``.  This can have significant performance implications including some performance degradations in comparison to prior SQLAlchemy versions.  Set this attribute to True if this object can make use of the cache key generated by the superclass.  Alternatively, this attribute may be set to False which will disable this warning. (Background on this error at: https://sqlalche.me/e/20/cprf)
  query = session.query(*columns) \

color: RGB image_size: 256 minimum_image: 5
total of levels: 235 total of images: 10514

                                                               0
dst            /home/none/Imagens/br_dataset/images/RGB/spe...
color                                                        rgb
image_size                                                   256
minimum_image                                                  5
level_name                              specific_epithet_trusted
levels                                                       235
total                                                      10514
average                                                    44.74

color: RGB image_size: 256 minimum_image: 10
total of levels: 160 total of images: 9990

                                                               0
dst            /home/none/Imagens/br_dataset/images/RGB/spe...
color                                                        rgb
image_size                                                   256
minimum_image                                                 10
level_name                              specific_epithet_trusted
levels                                                       160
total                                                       9990
average                                                    62.44

color: RGB image_size: 256 minimum_image: 20
total of levels: 106 total of images: 9248

                                                               0
dst            /home/none/Imagens/br_dataset/images/RGB/spe...
color                                                        rgb
image_size                                                   256
minimum_image                                                 20
level_name                              specific_epithet_trusted
levels                                                       106
total                                                       9248
average                                                    87.25

color: RGB image_size: 400 minimum_image: 5
total of levels: 235 total of images: 10514

                                                               0
dst            /home/none/Imagens/br_dataset/images/RGB/spe...
color                                                        rgb
image_size                                                   400
minimum_image                                                  5
level_name                              specific_epithet_trusted
levels                                                       235
total                                                      10514
average                                                    44.74

color: RGB image_size: 400 minimum_image: 10
total of levels: 160 total of images: 9990

                                                               0
dst            /home/none/Imagens/br_dataset/images/RGB/spe...
color                                                        rgb
image_size                                                   400
minimum_image                                                 10
level_name                              specific_epithet_trusted
levels                                                       160
total                                                       9990
average                                                    62.44

color: RGB image_size: 400 minimum_image: 20
total of levels: 106 total of images: 9248

                                                               0
dst            /home/none/Imagens/br_dataset/images/RGB/spe...
color                                                        rgb
image_size                                                   400
minimum_image                                                 20
level_name                              specific_epithet_trusted
levels                                                       106
total                                                       9248
average                                                    87.25

color: RGB image_size: 512 minimum_image: 5
total of levels: 235 total of images: 10514

                                                               0
dst            /home/none/Imagens/br_dataset/images/RGB/spe...
color                                                        rgb
image_size                                                   512
minimum_image                                                  5
level_name                              specific_epithet_trusted
levels                                                       235
total                                                      10514
average                                                    44.74

color: RGB image_size: 512 minimum_image: 10
total of levels: 160 total of images: 9990

                                                               0
dst            /home/none/Imagens/br_dataset/images/RGB/spe...
color                                                        rgb
image_size                                                   512
minimum_image                                                 10
level_name                              specific_epithet_trusted
levels                                                       160
total                                                       9990
average                                                    62.44

color: RGB image_size: 512 minimum_image: 20
total of levels: 106 total of images: 9248

                                                               0
dst            /home/none/Imagens/br_dataset/images/RGB/spe...
color                                                        rgb
image_size                                                   512
minimum_image                                                 20
level_name                              specific_epithet_trusted
levels                                                       106
total                                                       9248
average                                                    87.25

color: GRAYSCALE image_size: 256 minimum_image: 5
total of levels: 235 total of images: 10514

                                                               0
dst            /home/none/Imagens/br_dataset/images/GRAYSCA...
color                                                  grayscale
image_size                                                   256
minimum_image                                                  5
level_name                              specific_epithet_trusted
levels                                                       235
total                                                      10514
average                                                    44.74

color: GRAYSCALE image_size: 256 minimum_image: 10
total of levels: 160 total of images: 9990

                                                               0
dst            /home/none/Imagens/br_dataset/images/GRAYSCA...
color                                                  grayscale
image_size                                                   256
minimum_image                                                 10
level_name                              specific_epithet_trusted
levels                                                       160
total                                                       9990
average                                                    62.44

color: GRAYSCALE image_size: 256 minimum_image: 20
total of levels: 106 total of images: 9248

                                                               0
dst            /home/none/Imagens/br_dataset/images/GRAYSCA...
color                                                  grayscale
image_size                                                   256
minimum_image                                                 20
level_name                              specific_epithet_trusted
levels                                                       106
total                                                       9248
average                                                    87.25

color: GRAYSCALE image_size: 400 minimum_image: 5
total of levels: 235 total of images: 10514

                                                               0
dst            /home/none/Imagens/br_dataset/images/GRAYSCA...
color                                                  grayscale
image_size                                                   400
minimum_image                                                  5
level_name                              specific_epithet_trusted
levels                                                       235
total                                                      10514
average                                                    44.74

color: GRAYSCALE image_size: 400 minimum_image: 10
total of levels: 160 total of images: 9990

                                                               0
dst            /home/none/Imagens/br_dataset/images/GRAYSCA...
color                                                  grayscale
image_size                                                   400
minimum_image                                                 10
level_name                              specific_epithet_trusted
levels                                                       160
total                                                       9990
average                                                    62.44

color: GRAYSCALE image_size: 400 minimum_image: 20
total of levels: 106 total of images: 9248

                                                               0
dst            /home/none/Imagens/br_dataset/images/GRAYSCA...
color                                                  grayscale
image_size                                                   400
minimum_image                                                 20
level_name                              specific_epithet_trusted
levels                                                       106
total                                                       9248
average                                                    87.25

color: GRAYSCALE image_size: 512 minimum_image: 5
total of levels: 235 total of images: 10514

                                                               0
dst            /home/none/Imagens/br_dataset/images/GRAYSCA...
color                                                  grayscale
image_size                                                   512
minimum_image                                                  5
level_name                              specific_epithet_trusted
levels                                                       235
total                                                      10514
average                                                    44.74

color: GRAYSCALE image_size: 512 minimum_image: 10
total of levels: 160 total of images: 9990

                                                               0
dst            /home/none/Imagens/br_dataset/images/GRAYSCA...
color                                                  grayscale
image_size                                                   512
minimum_image                                                 10
level_name                              specific_epithet_trusted
levels                                                       160
total                                                       9990
average                                                    62.44

color: GRAYSCALE image_size: 512 minimum_image: 20
total of levels: 106 total of images: 9248

                                                               0
dst            /home/none/Imagens/br_dataset/images/GRAYSCA...
color                                                  grayscale
image_size                                                   512
minimum_image                                                 20
level_name                              specific_epithet_trusted
levels                                                       106
total                                                       9248
average                                                    87.25

In [6]:
session.close()
engine.dispose()