In [6]:
%reload_ext autoreload
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [7]:
import os
import sqlalchemy as sa

import database as db
from images import copy_images, get_list_of_images_invalid, save_metadata, select_images
from models import County, DataTrustedIdentifier

In [8]:
engine, session=db.connect()
engine.echo=False

2023-03-30 20:05:03,130 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2023-03-30 20:05:03,130 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-03-30 20:05:03,131 INFO sqlalchemy.engine.Engine select current_schema()
2023-03-30 20:05:03,132 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-03-30 20:05:03,133 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2023-03-30 20:05:03,133 INFO sqlalchemy.engine.Engine [raw sql] {}

In [9]:
list_minimum_image=[5, 10, 20]
list_color=['rgb', 'grayscale']
list_image_size=['256', '400', '512']
path_out = '/home/xandao/Imagens/pr_dataset'
list_images_invalid=get_list_of_images_invalid()
list_images_invalid=list_images_invalid['barcode']

query = session.query(County).filter(County.uf.__eq__('PR')).distinct().all()
state_unaccented_lower, uf_unaccented_lower, county_unaccented_lower=db.get_state_uf_county(query)

In [11]:
for color in list_color:
    for image_size in list_image_size:
        for minimum_image in list_minimum_image:
            list_level = []
            list_path_images_final = []
            list_seq_final = []
            list_count_samples = []

            level=DataTrustedIdentifier.specific_epithet_trusted
            out=os.path.join(path_out, color.upper(), level.name, image_size, str(minimum_image))

            condition = sa.and_(DataTrustedIdentifier.country_trusted.__eq__('Brasil'),
                                level.is_not(None),
                                sa.or_(uf_unaccented_lower,
                                       state_unaccented_lower,
                                       county_unaccented_lower))

            query = db.get_records_group_by_level(condition, level, minimum_image, session)
            print('color: %s image_size: %s minimum_image: %d' % (color.upper(), image_size, minimum_image))
            select_images(color, image_size, list_count_samples, list_level, list_images_invalid, list_path_images_final, list_seq_final, minimum_image, session, query)
            

            list_f = copy_images(list_level, list_path_images_final, out)
            save_metadata(color, image_size, level, list_count_samples, list_f, list_level, list_path_images_final, list_seq_final, minimum_image, out, session)

color: RGB image_size: 256 minimum_image: 5
total of levels: 57 total of images: 1389

,levels,count,dst,paths,seq
0,aduncum,34,/home/xandao/Imagens/pr_dataset/RGB/specific_e...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9674, 9927, 10002, 10051, 10094, 10468, 10676..."
1,alata,18,/home/xandao/Imagens/pr_dataset/RGB/specific_e...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9865, 9884, 9911, 10134, 10178, 10271, 10380,..."
2,amalago,68,/home/xandao/Imagens/pr_dataset/RGB/specific_e...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7707, 7723, 8236, 8767, 9678, 9698, 9888, 993..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,urls
0,9735,Piper,arboreum,Piper,arboreum,[https://storage.googleapis.com/cria-zoomify/h...
1,7333,Piper,corcovadense,Piper,grazielae,[https://storage.googleapis.com/cria-zoomify/h...
2,13064,Piper,corcovadensis,Piper,grazielae,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/pr_dataset/RGB/specific_e...
color                                                        rgb
image_size                                                   256
minimum_image                                                  5
level_name                              specific_epithet_trusted
levels                                                        57
total                                                       1389
average                                                    24.37

color: RGB image_size: 256 minimum_image: 10
total of levels: 36 total of images: 1257

,levels,count,dst,paths,seq
0,aduncum,34,/home/xandao/Imagens/pr_dataset/RGB/specific_e...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9674, 9927, 10002, 10051, 10094, 10468, 10676..."
1,alata,18,/home/xandao/Imagens/pr_dataset/RGB/specific_e...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9865, 9884, 9911, 10134, 10178, 10271, 10380,..."
2,amalago,68,/home/xandao/Imagens/pr_dataset/RGB/specific_e...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7707, 7723, 8236, 8767, 9678, 9698, 9888, 993..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,urls
0,9735,Piper,arboreum,Piper,arboreum,[https://storage.googleapis.com/cria-zoomify/h...
1,7333,Piper,corcovadense,Piper,grazielae,[https://storage.googleapis.com/cria-zoomify/h...
2,13064,Piper,corcovadensis,Piper,grazielae,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/pr_dataset/RGB/specific_e...
color                                                        rgb
image_size                                                   256
minimum_image                                                 10
level_name                              specific_epithet_trusted
levels                                                        36
total                                                       1257
average                                                    34.92

color: RGB image_size: 256 minimum_image: 20
total of levels: 23 total of images: 1084

,levels,count,dst,paths,seq
0,aduncum,34,/home/xandao/Imagens/pr_dataset/RGB/specific_e...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9674, 9927, 10002, 10051, 10094, 10468, 10676..."
1,amalago,68,/home/xandao/Imagens/pr_dataset/RGB/specific_e...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7707, 7723, 8236, 8767, 9678, 9698, 9888, 993..."
2,arboreum,37,/home/xandao/Imagens/pr_dataset/RGB/specific_e...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8834, 9710, 9735, 9749, 9765, 9776, 9842, 991..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,urls
0,9735,Piper,arboreum,Piper,arboreum,[https://storage.googleapis.com/cria-zoomify/h...
1,7333,Piper,corcovadense,Piper,grazielae,[https://storage.googleapis.com/cria-zoomify/h...
2,13064,Piper,corcovadensis,Piper,grazielae,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/pr_dataset/RGB/specific_e...
color                                                        rgb
image_size                                                   256
minimum_image                                                 20
level_name                              specific_epithet_trusted
levels                                                        23
total                                                       1084
average                                                    47.13

color: RGB image_size: 400 minimum_image: 5
total of levels: 57 total of images: 1389

,levels,count,dst,paths,seq
0,aduncum,34,/home/xandao/Imagens/pr_dataset/RGB/specific_e...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9674, 9927, 10002, 10051, 10094, 10468, 10676..."
1,alata,18,/home/xandao/Imagens/pr_dataset/RGB/specific_e...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9865, 9884, 9911, 10134, 10178, 10271, 10380,..."
2,amalago,68,/home/xandao/Imagens/pr_dataset/RGB/specific_e...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7707, 7723, 8236, 8767, 9678, 9698, 9888, 993..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,urls
0,9735,Piper,arboreum,Piper,arboreum,[https://storage.googleapis.com/cria-zoomify/h...
1,7333,Piper,corcovadense,Piper,grazielae,[https://storage.googleapis.com/cria-zoomify/h...
2,13064,Piper,corcovadensis,Piper,grazielae,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/pr_dataset/RGB/specific_e...
color                                                        rgb
image_size                                                   400
minimum_image                                                  5
level_name                              specific_epithet_trusted
levels                                                        57
total                                                       1389
average                                                    24.37

color: RGB image_size: 400 minimum_image: 10
total of levels: 36 total of images: 1257

,levels,count,dst,paths,seq
0,aduncum,34,/home/xandao/Imagens/pr_dataset/RGB/specific_e...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9674, 9927, 10002, 10051, 10094, 10468, 10676..."
1,alata,18,/home/xandao/Imagens/pr_dataset/RGB/specific_e...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9865, 9884, 9911, 10134, 10178, 10271, 10380,..."
2,amalago,68,/home/xandao/Imagens/pr_dataset/RGB/specific_e...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7707, 7723, 8236, 8767, 9678, 9698, 9888, 993..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,urls
0,9735,Piper,arboreum,Piper,arboreum,[https://storage.googleapis.com/cria-zoomify/h...
1,7333,Piper,corcovadense,Piper,grazielae,[https://storage.googleapis.com/cria-zoomify/h...
2,13064,Piper,corcovadensis,Piper,grazielae,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/pr_dataset/RGB/specific_e...
color                                                        rgb
image_size                                                   400
minimum_image                                                 10
level_name                              specific_epithet_trusted
levels                                                        36
total                                                       1257
average                                                    34.92

color: RGB image_size: 400 minimum_image: 20
total of levels: 23 total of images: 1084

,levels,count,dst,paths,seq
0,aduncum,34,/home/xandao/Imagens/pr_dataset/RGB/specific_e...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9674, 9927, 10002, 10051, 10094, 10468, 10676..."
1,amalago,68,/home/xandao/Imagens/pr_dataset/RGB/specific_e...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7707, 7723, 8236, 8767, 9678, 9698, 9888, 993..."
2,arboreum,37,/home/xandao/Imagens/pr_dataset/RGB/specific_e...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8834, 9710, 9735, 9749, 9765, 9776, 9842, 991..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,urls
0,9735,Piper,arboreum,Piper,arboreum,[https://storage.googleapis.com/cria-zoomify/h...
1,7333,Piper,corcovadense,Piper,grazielae,[https://storage.googleapis.com/cria-zoomify/h...
2,13064,Piper,corcovadensis,Piper,grazielae,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/pr_dataset/RGB/specific_e...
color                                                        rgb
image_size                                                   400
minimum_image                                                 20
level_name                              specific_epithet_trusted
levels                                                        23
total                                                       1084
average                                                    47.13

color: RGB image_size: 512 minimum_image: 5
total of levels: 57 total of images: 1389

,levels,count,dst,paths,seq
0,aduncum,34,/home/xandao/Imagens/pr_dataset/RGB/specific_e...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9674, 9927, 10002, 10051, 10094, 10468, 10676..."
1,alata,18,/home/xandao/Imagens/pr_dataset/RGB/specific_e...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9865, 9884, 9911, 10134, 10178, 10271, 10380,..."
2,amalago,68,/home/xandao/Imagens/pr_dataset/RGB/specific_e...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7707, 7723, 8236, 8767, 9678, 9698, 9888, 993..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,urls
0,9735,Piper,arboreum,Piper,arboreum,[https://storage.googleapis.com/cria-zoomify/h...
1,7333,Piper,corcovadense,Piper,grazielae,[https://storage.googleapis.com/cria-zoomify/h...
2,13064,Piper,corcovadensis,Piper,grazielae,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/pr_dataset/RGB/specific_e...
color                                                        rgb
image_size                                                   512
minimum_image                                                  5
level_name                              specific_epithet_trusted
levels                                                        57
total                                                       1389
average                                                    24.37

color: RGB image_size: 512 minimum_image: 10
total of levels: 36 total of images: 1257

,levels,count,dst,paths,seq
0,aduncum,34,/home/xandao/Imagens/pr_dataset/RGB/specific_e...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9674, 9927, 10002, 10051, 10094, 10468, 10676..."
1,alata,18,/home/xandao/Imagens/pr_dataset/RGB/specific_e...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9865, 9884, 9911, 10134, 10178, 10271, 10380,..."
2,amalago,68,/home/xandao/Imagens/pr_dataset/RGB/specific_e...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7707, 7723, 8236, 8767, 9678, 9698, 9888, 993..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,urls
0,9735,Piper,arboreum,Piper,arboreum,[https://storage.googleapis.com/cria-zoomify/h...
1,7333,Piper,corcovadense,Piper,grazielae,[https://storage.googleapis.com/cria-zoomify/h...
2,13064,Piper,corcovadensis,Piper,grazielae,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/pr_dataset/RGB/specific_e...
color                                                        rgb
image_size                                                   512
minimum_image                                                 10
level_name                              specific_epithet_trusted
levels                                                        36
total                                                       1257
average                                                    34.92

color: RGB image_size: 512 minimum_image: 20
total of levels: 23 total of images: 1084

,levels,count,dst,paths,seq
0,aduncum,34,/home/xandao/Imagens/pr_dataset/RGB/specific_e...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9674, 9927, 10002, 10051, 10094, 10468, 10676..."
1,amalago,68,/home/xandao/Imagens/pr_dataset/RGB/specific_e...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7707, 7723, 8236, 8767, 9678, 9698, 9888, 993..."
2,arboreum,37,/home/xandao/Imagens/pr_dataset/RGB/specific_e...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8834, 9710, 9735, 9749, 9765, 9776, 9842, 991..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,urls
0,9735,Piper,arboreum,Piper,arboreum,[https://storage.googleapis.com/cria-zoomify/h...
1,7333,Piper,corcovadense,Piper,grazielae,[https://storage.googleapis.com/cria-zoomify/h...
2,13064,Piper,corcovadensis,Piper,grazielae,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/pr_dataset/RGB/specific_e...
color                                                        rgb
image_size                                                   512
minimum_image                                                 20
level_name                              specific_epithet_trusted
levels                                                        23
total                                                       1084
average                                                    47.13

color: GRAYSCALE image_size: 256 minimum_image: 5
total of levels: 57 total of images: 1389

,levels,count,dst,paths,seq
0,aduncum,34,/home/xandao/Imagens/pr_dataset/GRAYSCALE/spec...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9674, 9927, 10002, 10051, 10094, 10468, 10676..."
1,alata,18,/home/xandao/Imagens/pr_dataset/GRAYSCALE/spec...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9865, 9884, 9911, 10134, 10178, 10271, 10380,..."
2,amalago,68,/home/xandao/Imagens/pr_dataset/GRAYSCALE/spec...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7707, 7723, 8236, 8767, 9678, 9698, 9888, 993..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,urls
0,9735,Piper,arboreum,Piper,arboreum,[https://storage.googleapis.com/cria-zoomify/h...
1,7333,Piper,corcovadense,Piper,grazielae,[https://storage.googleapis.com/cria-zoomify/h...
2,13064,Piper,corcovadensis,Piper,grazielae,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/pr_dataset/GRAYSCALE/spec...
color                                                  grayscale
image_size                                                   256
minimum_image                                                  5
level_name                              specific_epithet_trusted
levels                                                        57
total                                                       1389
average                                                    24.37

color: GRAYSCALE image_size: 256 minimum_image: 10
total of levels: 36 total of images: 1257

,levels,count,dst,paths,seq
0,aduncum,34,/home/xandao/Imagens/pr_dataset/GRAYSCALE/spec...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9674, 9927, 10002, 10051, 10094, 10468, 10676..."
1,alata,18,/home/xandao/Imagens/pr_dataset/GRAYSCALE/spec...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9865, 9884, 9911, 10134, 10178, 10271, 10380,..."
2,amalago,68,/home/xandao/Imagens/pr_dataset/GRAYSCALE/spec...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7707, 7723, 8236, 8767, 9678, 9698, 9888, 993..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,urls
0,9735,Piper,arboreum,Piper,arboreum,[https://storage.googleapis.com/cria-zoomify/h...
1,7333,Piper,corcovadense,Piper,grazielae,[https://storage.googleapis.com/cria-zoomify/h...
2,13064,Piper,corcovadensis,Piper,grazielae,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/pr_dataset/GRAYSCALE/spec...
color                                                  grayscale
image_size                                                   256
minimum_image                                                 10
level_name                              specific_epithet_trusted
levels                                                        36
total                                                       1257
average                                                    34.92

color: GRAYSCALE image_size: 256 minimum_image: 20
total of levels: 23 total of images: 1084

,levels,count,dst,paths,seq
0,aduncum,34,/home/xandao/Imagens/pr_dataset/GRAYSCALE/spec...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9674, 9927, 10002, 10051, 10094, 10468, 10676..."
1,amalago,68,/home/xandao/Imagens/pr_dataset/GRAYSCALE/spec...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7707, 7723, 8236, 8767, 9678, 9698, 9888, 993..."
2,arboreum,37,/home/xandao/Imagens/pr_dataset/GRAYSCALE/spec...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8834, 9710, 9735, 9749, 9765, 9776, 9842, 991..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,urls
0,9735,Piper,arboreum,Piper,arboreum,[https://storage.googleapis.com/cria-zoomify/h...
1,7333,Piper,corcovadense,Piper,grazielae,[https://storage.googleapis.com/cria-zoomify/h...
2,13064,Piper,corcovadensis,Piper,grazielae,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/pr_dataset/GRAYSCALE/spec...
color                                                  grayscale
image_size                                                   256
minimum_image                                                 20
level_name                              specific_epithet_trusted
levels                                                        23
total                                                       1084
average                                                    47.13

color: GRAYSCALE image_size: 400 minimum_image: 5
total of levels: 57 total of images: 1389

,levels,count,dst,paths,seq
0,aduncum,34,/home/xandao/Imagens/pr_dataset/GRAYSCALE/spec...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9674, 9927, 10002, 10051, 10094, 10468, 10676..."
1,alata,18,/home/xandao/Imagens/pr_dataset/GRAYSCALE/spec...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9865, 9884, 9911, 10134, 10178, 10271, 10380,..."
2,amalago,68,/home/xandao/Imagens/pr_dataset/GRAYSCALE/spec...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7707, 7723, 8236, 8767, 9678, 9698, 9888, 993..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,urls
0,9735,Piper,arboreum,Piper,arboreum,[https://storage.googleapis.com/cria-zoomify/h...
1,7333,Piper,corcovadense,Piper,grazielae,[https://storage.googleapis.com/cria-zoomify/h...
2,13064,Piper,corcovadensis,Piper,grazielae,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/pr_dataset/GRAYSCALE/spec...
color                                                  grayscale
image_size                                                   400
minimum_image                                                  5
level_name                              specific_epithet_trusted
levels                                                        57
total                                                       1389
average                                                    24.37

color: GRAYSCALE image_size: 400 minimum_image: 10
total of levels: 36 total of images: 1257

,levels,count,dst,paths,seq
0,aduncum,34,/home/xandao/Imagens/pr_dataset/GRAYSCALE/spec...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9674, 9927, 10002, 10051, 10094, 10468, 10676..."
1,alata,18,/home/xandao/Imagens/pr_dataset/GRAYSCALE/spec...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9865, 9884, 9911, 10134, 10178, 10271, 10380,..."
2,amalago,68,/home/xandao/Imagens/pr_dataset/GRAYSCALE/spec...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7707, 7723, 8236, 8767, 9678, 9698, 9888, 993..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,urls
0,9735,Piper,arboreum,Piper,arboreum,[https://storage.googleapis.com/cria-zoomify/h...
1,7333,Piper,corcovadense,Piper,grazielae,[https://storage.googleapis.com/cria-zoomify/h...
2,13064,Piper,corcovadensis,Piper,grazielae,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/pr_dataset/GRAYSCALE/spec...
color                                                  grayscale
image_size                                                   400
minimum_image                                                 10
level_name                              specific_epithet_trusted
levels                                                        36
total                                                       1257
average                                                    34.92

color: GRAYSCALE image_size: 400 minimum_image: 20
total of levels: 23 total of images: 1084

,levels,count,dst,paths,seq
0,aduncum,34,/home/xandao/Imagens/pr_dataset/GRAYSCALE/spec...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9674, 9927, 10002, 10051, 10094, 10468, 10676..."
1,amalago,68,/home/xandao/Imagens/pr_dataset/GRAYSCALE/spec...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7707, 7723, 8236, 8767, 9678, 9698, 9888, 993..."
2,arboreum,37,/home/xandao/Imagens/pr_dataset/GRAYSCALE/spec...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8834, 9710, 9735, 9749, 9765, 9776, 9842, 991..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,urls
0,9735,Piper,arboreum,Piper,arboreum,[https://storage.googleapis.com/cria-zoomify/h...
1,7333,Piper,corcovadense,Piper,grazielae,[https://storage.googleapis.com/cria-zoomify/h...
2,13064,Piper,corcovadensis,Piper,grazielae,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/pr_dataset/GRAYSCALE/spec...
color                                                  grayscale
image_size                                                   400
minimum_image                                                 20
level_name                              specific_epithet_trusted
levels                                                        23
total                                                       1084
average                                                    47.13

color: GRAYSCALE image_size: 512 minimum_image: 5
total of levels: 57 total of images: 1389

,levels,count,dst,paths,seq
0,aduncum,34,/home/xandao/Imagens/pr_dataset/GRAYSCALE/spec...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9674, 9927, 10002, 10051, 10094, 10468, 10676..."
1,alata,18,/home/xandao/Imagens/pr_dataset/GRAYSCALE/spec...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9865, 9884, 9911, 10134, 10178, 10271, 10380,..."
2,amalago,68,/home/xandao/Imagens/pr_dataset/GRAYSCALE/spec...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7707, 7723, 8236, 8767, 9678, 9698, 9888, 993..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,urls
0,9735,Piper,arboreum,Piper,arboreum,[https://storage.googleapis.com/cria-zoomify/h...
1,7333,Piper,corcovadense,Piper,grazielae,[https://storage.googleapis.com/cria-zoomify/h...
2,13064,Piper,corcovadensis,Piper,grazielae,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/pr_dataset/GRAYSCALE/spec...
color                                                  grayscale
image_size                                                   512
minimum_image                                                  5
level_name                              specific_epithet_trusted
levels                                                        57
total                                                       1389
average                                                    24.37

color: GRAYSCALE image_size: 512 minimum_image: 10
total of levels: 36 total of images: 1257

,levels,count,dst,paths,seq
0,aduncum,34,/home/xandao/Imagens/pr_dataset/GRAYSCALE/spec...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9674, 9927, 10002, 10051, 10094, 10468, 10676..."
1,alata,18,/home/xandao/Imagens/pr_dataset/GRAYSCALE/spec...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9865, 9884, 9911, 10134, 10178, 10271, 10380,..."
2,amalago,68,/home/xandao/Imagens/pr_dataset/GRAYSCALE/spec...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7707, 7723, 8236, 8767, 9678, 9698, 9888, 993..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,urls
0,9735,Piper,arboreum,Piper,arboreum,[https://storage.googleapis.com/cria-zoomify/h...
1,7333,Piper,corcovadense,Piper,grazielae,[https://storage.googleapis.com/cria-zoomify/h...
2,13064,Piper,corcovadensis,Piper,grazielae,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/pr_dataset/GRAYSCALE/spec...
color                                                  grayscale
image_size                                                   512
minimum_image                                                 10
level_name                              specific_epithet_trusted
levels                                                        36
total                                                       1257
average                                                    34.92

color: GRAYSCALE image_size: 512 minimum_image: 20
total of levels: 23 total of images: 1084

,levels,count,dst,paths,seq
0,aduncum,34,/home/xandao/Imagens/pr_dataset/GRAYSCALE/spec...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9674, 9927, 10002, 10051, 10094, 10468, 10676..."
1,amalago,68,/home/xandao/Imagens/pr_dataset/GRAYSCALE/spec...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7707, 7723, 8236, 8767, 9678, 9698, 9888, 993..."
2,arboreum,37,/home/xandao/Imagens/pr_dataset/GRAYSCALE/spec...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8834, 9710, 9735, 9749, 9765, 9776, 9842, 991..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,urls
0,9735,Piper,arboreum,Piper,arboreum,[https://storage.googleapis.com/cria-zoomify/h...
1,7333,Piper,corcovadense,Piper,grazielae,[https://storage.googleapis.com/cria-zoomify/h...
2,13064,Piper,corcovadensis,Piper,grazielae,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/pr_dataset/GRAYSCALE/spec...
color                                                  grayscale
image_size                                                   512
minimum_image                                                 20
level_name                              specific_epithet_trusted
levels                                                        23
total                                                       1084
average                                                    47.13

In [ ]:
session.close()
engine.dispose()