In [1]:
%reload_ext autoreload
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
import os
import sqlalchemy as sa

import database as db
from images import copy_images, get_list_of_images_invalid, save_metadata, select_images
from models import County, DataTrustedIdentifier

In [3]:
engine, session=db.connect()
engine.echo=False

2023-04-02 16:40:02,840 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2023-04-02 16:40:02,840 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-04-02 16:40:02,841 INFO sqlalchemy.engine.Engine select current_schema()
2023-04-02 16:40:02,842 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-04-02 16:40:02,843 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2023-04-02 16:40:02,843 INFO sqlalchemy.engine.Engine [raw sql] {}

In [4]:
list_minimum_image=[5, 10, 20]
list_color=['rgb', 'grayscale']
list_image_size=['256', '400', '512']
list_regions=['Norte', 'Nordeste', 'Centro-Oeste', 'Sul', 'Sudeste']
path_out = '/home/xandao/Imagens/region_dataset'
list_images_invalid=get_list_of_images_invalid()
list_images_invalid=list_images_invalid['barcode']

In [7]:
for color in list_color:
    for region in list_regions:
        for image_size in list_image_size:
            for minimum_image in list_minimum_image:
                query = session.query(County).filter(County.regiao.__eq__(region)).distinct().all()

                state_unaccented_lower, uf_unaccented_lower, county_unaccented_lower = db.get_state_uf_county(query)

                list_level = []
                list_path_images_final = []
                list_seq_final = []
                list_count_samples = []

                level=DataTrustedIdentifier.specific_epithet_trusted
                out=os.path.join(path_out, color.upper(), level.name, region, image_size, str(minimum_image))

                condition = sa.and_(DataTrustedIdentifier.country_trusted.__eq__('Brasil'),
                                    level.is_not(None),
                                    sa.or_(sa.and_(uf_unaccented_lower,
                                           state_unaccented_lower,
                                           county_unaccented_lower),
                                           sa.and_(uf_unaccented_lower,
                                           county_unaccented_lower),
                                           sa.and_(state_unaccented_lower,
                                           county_unaccented_lower),
                                           uf_unaccented_lower,
                                           state_unaccented_lower)
                                    )

                query = db.get_records_group_by_level(condition, level, minimum_image, session)
                print('region: %s color: %s image_size: %s minimum_image: %d' % (region, color.upper(), image_size, minimum_image))
                select_images(color, image_size, list_count_samples, list_level, list_images_invalid, list_path_images_final, list_seq_final, minimum_image, session, query)

                list_f = copy_images(list_level, list_path_images_final, out)
                save_metadata(color, image_size, level, list_count_samples, list_f, list_level, list_path_images_final, list_seq_final, minimum_image, out, session, region=region)

region: Norte color: RGB image_size: 256 minimum_image: 5
total of levels: 107 total of images: 2637

,levels,count,dst,paths,seq
0,aduncum,48,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[11893, 12586, 14141, 30236, 30237, 30247, 302..."
1,aequale,9,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[12577, 30534, 30546, 36793, 43763, 43769, 457..."
2,alata,8,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[26378, 26385, 26457, 37031, 43122, 43125, 431..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,1363,Peperomia,glabella,Peperomia,glabella,Brasil,Brazil,None,Acre,[https://storage.googleapis.com/cria-zoomify/h...
1,44254,Piper,coruscans,Piper,coruscans,Brasil,Brasil,Porto Velho,Rondônia,[https://storage.googleapis.com/cria-zoomify/h...
2,13605,Piper,arboreum,Piper,arboreum,Brasil,Brasil,None,Pará,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/RGB/specif...
color                                                        rgb
image_size                                                   256
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                                     Norte
levels                                                       107
total                                                       2637
average                                                    24.64

region: Norte color: RGB image_size: 256 minimum_image: 10
total of levels: 68 total of images: 2353

,levels,count,dst,paths,seq
0,aduncum,48,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[11893, 12586, 14141, 30236, 30237, 30247, 302..."
1,alatabaccum,28,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[26207, 30555, 30557, 30558, 30560, 30561, 305..."
2,aleyreanum,40,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[27846, 27946, 28022, 28775, 28832, 28852, 292..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,1363,Peperomia,glabella,Peperomia,glabella,Brasil,Brazil,None,Acre,[https://storage.googleapis.com/cria-zoomify/h...
1,44254,Piper,coruscans,Piper,coruscans,Brasil,Brasil,Porto Velho,Rondônia,[https://storage.googleapis.com/cria-zoomify/h...
2,13605,Piper,arboreum,Piper,arboreum,Brasil,Brasil,None,Pará,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/RGB/specif...
color                                                        rgb
image_size                                                   256
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                                     Norte
levels                                                        68
total                                                       2353
average                                                     34.6

region: Norte color: RGB image_size: 256 minimum_image: 20
total of levels: 41 total of images: 2016

,levels,count,dst,paths,seq
0,aduncum,48,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[11893, 12586, 14141, 30236, 30237, 30247, 302..."
1,alatabaccum,28,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[26207, 30555, 30557, 30558, 30560, 30561, 305..."
2,aleyreanum,40,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[27846, 27946, 28022, 28775, 28832, 28852, 292..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,1363,Peperomia,glabella,Peperomia,glabella,Brasil,Brazil,None,Acre,[https://storage.googleapis.com/cria-zoomify/h...
1,13605,Piper,arboreum,Piper,arboreum,Brasil,Brasil,None,Pará,[https://storage.googleapis.com/cria-zoomify/h...
2,1757,Peperomia,quadrangularis,Peperomia,quadrangularis,Brasil,Brazil,None,Amazonas,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/RGB/specif...
color                                                        rgb
image_size                                                   256
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                                     Norte
levels                                                        41
total                                                       2016
average                                                    49.17

region: Norte color: RGB image_size: 400 minimum_image: 5
total of levels: 107 total of images: 2637

,levels,count,dst,paths,seq
0,aduncum,48,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[11893, 12586, 14141, 30236, 30237, 30247, 302..."
1,aequale,9,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[12577, 30534, 30546, 36793, 43763, 43769, 457..."
2,alata,8,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[26378, 26385, 26457, 37031, 43122, 43125, 431..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,1363,Peperomia,glabella,Peperomia,glabella,Brasil,Brazil,None,Acre,[https://storage.googleapis.com/cria-zoomify/h...
1,44254,Piper,coruscans,Piper,coruscans,Brasil,Brasil,Porto Velho,Rondônia,[https://storage.googleapis.com/cria-zoomify/h...
2,13605,Piper,arboreum,Piper,arboreum,Brasil,Brasil,None,Pará,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/RGB/specif...
color                                                        rgb
image_size                                                   400
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                                     Norte
levels                                                       107
total                                                       2637
average                                                    24.64

region: Norte color: RGB image_size: 400 minimum_image: 10
total of levels: 68 total of images: 2353

,levels,count,dst,paths,seq
0,aduncum,48,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[11893, 12586, 14141, 30236, 30237, 30247, 302..."
1,alatabaccum,28,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[26207, 30555, 30557, 30558, 30560, 30561, 305..."
2,aleyreanum,40,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[27846, 27946, 28022, 28775, 28832, 28852, 292..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,1363,Peperomia,glabella,Peperomia,glabella,Brasil,Brazil,None,Acre,[https://storage.googleapis.com/cria-zoomify/h...
1,44254,Piper,coruscans,Piper,coruscans,Brasil,Brasil,Porto Velho,Rondônia,[https://storage.googleapis.com/cria-zoomify/h...
2,13605,Piper,arboreum,Piper,arboreum,Brasil,Brasil,None,Pará,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/RGB/specif...
color                                                        rgb
image_size                                                   400
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                                     Norte
levels                                                        68
total                                                       2353
average                                                     34.6

region: Norte color: RGB image_size: 400 minimum_image: 20
total of levels: 41 total of images: 2016

,levels,count,dst,paths,seq
0,aduncum,48,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[11893, 12586, 14141, 30236, 30237, 30247, 302..."
1,alatabaccum,28,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[26207, 30555, 30557, 30558, 30560, 30561, 305..."
2,aleyreanum,40,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[27846, 27946, 28022, 28775, 28832, 28852, 292..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,1363,Peperomia,glabella,Peperomia,glabella,Brasil,Brazil,None,Acre,[https://storage.googleapis.com/cria-zoomify/h...
1,13605,Piper,arboreum,Piper,arboreum,Brasil,Brasil,None,Pará,[https://storage.googleapis.com/cria-zoomify/h...
2,1757,Peperomia,quadrangularis,Peperomia,quadrangularis,Brasil,Brazil,None,Amazonas,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/RGB/specif...
color                                                        rgb
image_size                                                   400
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                                     Norte
levels                                                        41
total                                                       2016
average                                                    49.17

region: Norte color: RGB image_size: 512 minimum_image: 5
total of levels: 107 total of images: 2637

,levels,count,dst,paths,seq
0,aduncum,48,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[11893, 12586, 14141, 30236, 30237, 30247, 302..."
1,aequale,9,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[12577, 30534, 30546, 36793, 43763, 43769, 457..."
2,alata,8,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[26378, 26385, 26457, 37031, 43122, 43125, 431..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,1363,Peperomia,glabella,Peperomia,glabella,Brasil,Brazil,None,Acre,[https://storage.googleapis.com/cria-zoomify/h...
1,44254,Piper,coruscans,Piper,coruscans,Brasil,Brasil,Porto Velho,Rondônia,[https://storage.googleapis.com/cria-zoomify/h...
2,13605,Piper,arboreum,Piper,arboreum,Brasil,Brasil,None,Pará,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/RGB/specif...
color                                                        rgb
image_size                                                   512
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                                     Norte
levels                                                       107
total                                                       2637
average                                                    24.64

region: Norte color: RGB image_size: 512 minimum_image: 10
total of levels: 68 total of images: 2353

,levels,count,dst,paths,seq
0,aduncum,48,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[11893, 12586, 14141, 30236, 30237, 30247, 302..."
1,alatabaccum,28,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[26207, 30555, 30557, 30558, 30560, 30561, 305..."
2,aleyreanum,40,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[27846, 27946, 28022, 28775, 28832, 28852, 292..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,1363,Peperomia,glabella,Peperomia,glabella,Brasil,Brazil,None,Acre,[https://storage.googleapis.com/cria-zoomify/h...
1,44254,Piper,coruscans,Piper,coruscans,Brasil,Brasil,Porto Velho,Rondônia,[https://storage.googleapis.com/cria-zoomify/h...
2,13605,Piper,arboreum,Piper,arboreum,Brasil,Brasil,None,Pará,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/RGB/specif...
color                                                        rgb
image_size                                                   512
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                                     Norte
levels                                                        68
total                                                       2353
average                                                     34.6

region: Norte color: RGB image_size: 512 minimum_image: 20
total of levels: 41 total of images: 2016

,levels,count,dst,paths,seq
0,aduncum,48,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[11893, 12586, 14141, 30236, 30237, 30247, 302..."
1,alatabaccum,28,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[26207, 30555, 30557, 30558, 30560, 30561, 305..."
2,aleyreanum,40,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[27846, 27946, 28022, 28775, 28832, 28852, 292..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,1363,Peperomia,glabella,Peperomia,glabella,Brasil,Brazil,None,Acre,[https://storage.googleapis.com/cria-zoomify/h...
1,13605,Piper,arboreum,Piper,arboreum,Brasil,Brasil,None,Pará,[https://storage.googleapis.com/cria-zoomify/h...
2,1757,Peperomia,quadrangularis,Peperomia,quadrangularis,Brasil,Brazil,None,Amazonas,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/RGB/specif...
color                                                        rgb
image_size                                                   512
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                                     Norte
levels                                                        41
total                                                       2016
average                                                    49.17

region: Nordeste color: RGB image_size: 256 minimum_image: 5
total of levels: 48 total of images: 1063

,levels,count,dst,paths,seq
0,aduncum,30,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8224, 8683, 8712, 9263, 9368, 20194, 20195, 2..."
1,alata,12,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[19807, 19808, 21352, 21361, 21408, 21409, 214..."
2,amalago,55,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[6234, 9264, 9310, 9320, 9321, 9324, 9376, 114..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,40891,Ottonia,taperana,Piper,anisum,Brasil,Brasil,Palmares,Pernambuco,[https://storage.googleapis.com/cria-zoomify/h...
1,22332,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Jequié,Bahia,[https://storage.googleapis.com/cria-zoomify/h...
2,22343,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Jequié,Bahia,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/RGB/specif...
color                                                        rgb
image_size                                                   256
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                                  Nordeste
levels                                                        48
total                                                       1063
average                                                    22.15

region: Nordeste color: RGB image_size: 256 minimum_image: 10
total of levels: 35 total of images: 974

,levels,count,dst,paths,seq
0,aduncum,30,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8224, 8683, 8712, 9263, 9368, 20194, 20195, 2..."
1,alata,12,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[19807, 19808, 21352, 21361, 21408, 21409, 214..."
2,amalago,55,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[6234, 9264, 9310, 9320, 9321, 9324, 9376, 114..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,22332,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Jequié,Bahia,[https://storage.googleapis.com/cria-zoomify/h...
1,22343,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Jequié,Bahia,[https://storage.googleapis.com/cria-zoomify/h...
2,9311,Piper,corcovadensis,Piper,grazielae,Brasil,Brazil,Itabuna,Bahia,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/RGB/specif...
color                                                        rgb
image_size                                                   256
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                                  Nordeste
levels                                                        35
total                                                        974
average                                                    27.83

region: Nordeste color: RGB image_size: 256 minimum_image: 20
total of levels: 21 total of images: 776

,levels,count,dst,paths,seq
0,aduncum,30,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8224, 8683, 8712, 9263, 9368, 20194, 20195, 2..."
1,amalago,55,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[6234, 9264, 9310, 9320, 9321, 9324, 9376, 114..."
2,amplum,33,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8788, 8790, 8796, 9256, 9270, 9313, 9328, 936..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,22332,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Jequié,Bahia,[https://storage.googleapis.com/cria-zoomify/h...
1,22343,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Jequié,Bahia,[https://storage.googleapis.com/cria-zoomify/h...
2,9311,Piper,corcovadensis,Piper,grazielae,Brasil,Brazil,Itabuna,Bahia,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/RGB/specif...
color                                                        rgb
image_size                                                   256
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                                  Nordeste
levels                                                        21
total                                                        776
average                                                    36.95

region: Nordeste color: RGB image_size: 400 minimum_image: 5
total of levels: 48 total of images: 1063

,levels,count,dst,paths,seq
0,aduncum,30,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8224, 8683, 8712, 9263, 9368, 20194, 20195, 2..."
1,alata,12,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[19807, 19808, 21352, 21361, 21408, 21409, 214..."
2,amalago,55,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[6234, 9264, 9310, 9320, 9321, 9324, 9376, 114..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,40891,Ottonia,taperana,Piper,anisum,Brasil,Brasil,Palmares,Pernambuco,[https://storage.googleapis.com/cria-zoomify/h...
1,22332,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Jequié,Bahia,[https://storage.googleapis.com/cria-zoomify/h...
2,22343,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Jequié,Bahia,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/RGB/specif...
color                                                        rgb
image_size                                                   400
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                                  Nordeste
levels                                                        48
total                                                       1063
average                                                    22.15

region: Nordeste color: RGB image_size: 400 minimum_image: 10
total of levels: 35 total of images: 974

,levels,count,dst,paths,seq
0,aduncum,30,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8224, 8683, 8712, 9263, 9368, 20194, 20195, 2..."
1,alata,12,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[19807, 19808, 21352, 21361, 21408, 21409, 214..."
2,amalago,55,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[6234, 9264, 9310, 9320, 9321, 9324, 9376, 114..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,22332,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Jequié,Bahia,[https://storage.googleapis.com/cria-zoomify/h...
1,22343,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Jequié,Bahia,[https://storage.googleapis.com/cria-zoomify/h...
2,9311,Piper,corcovadensis,Piper,grazielae,Brasil,Brazil,Itabuna,Bahia,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/RGB/specif...
color                                                        rgb
image_size                                                   400
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                                  Nordeste
levels                                                        35
total                                                        974
average                                                    27.83

region: Nordeste color: RGB image_size: 400 minimum_image: 20
total of levels: 21 total of images: 776

,levels,count,dst,paths,seq
0,aduncum,30,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8224, 8683, 8712, 9263, 9368, 20194, 20195, 2..."
1,amalago,55,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[6234, 9264, 9310, 9320, 9321, 9324, 9376, 114..."
2,amplum,33,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8788, 8790, 8796, 9256, 9270, 9313, 9328, 936..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,22332,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Jequié,Bahia,[https://storage.googleapis.com/cria-zoomify/h...
1,22343,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Jequié,Bahia,[https://storage.googleapis.com/cria-zoomify/h...
2,9311,Piper,corcovadensis,Piper,grazielae,Brasil,Brazil,Itabuna,Bahia,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/RGB/specif...
color                                                        rgb
image_size                                                   400
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                                  Nordeste
levels                                                        21
total                                                        776
average                                                    36.95

region: Nordeste color: RGB image_size: 512 minimum_image: 5
total of levels: 48 total of images: 1063

,levels,count,dst,paths,seq
0,aduncum,30,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8224, 8683, 8712, 9263, 9368, 20194, 20195, 2..."
1,alata,12,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[19807, 19808, 21352, 21361, 21408, 21409, 214..."
2,amalago,55,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[6234, 9264, 9310, 9320, 9321, 9324, 9376, 114..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,40891,Ottonia,taperana,Piper,anisum,Brasil,Brasil,Palmares,Pernambuco,[https://storage.googleapis.com/cria-zoomify/h...
1,22332,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Jequié,Bahia,[https://storage.googleapis.com/cria-zoomify/h...
2,22343,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Jequié,Bahia,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/RGB/specif...
color                                                        rgb
image_size                                                   512
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                                  Nordeste
levels                                                        48
total                                                       1063
average                                                    22.15

region: Nordeste color: RGB image_size: 512 minimum_image: 10
total of levels: 35 total of images: 974

,levels,count,dst,paths,seq
0,aduncum,30,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8224, 8683, 8712, 9263, 9368, 20194, 20195, 2..."
1,alata,12,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[19807, 19808, 21352, 21361, 21408, 21409, 214..."
2,amalago,55,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[6234, 9264, 9310, 9320, 9321, 9324, 9376, 114..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,22332,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Jequié,Bahia,[https://storage.googleapis.com/cria-zoomify/h...
1,22343,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Jequié,Bahia,[https://storage.googleapis.com/cria-zoomify/h...
2,9311,Piper,corcovadensis,Piper,grazielae,Brasil,Brazil,Itabuna,Bahia,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/RGB/specif...
color                                                        rgb
image_size                                                   512
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                                  Nordeste
levels                                                        35
total                                                        974
average                                                    27.83

region: Nordeste color: RGB image_size: 512 minimum_image: 20
total of levels: 21 total of images: 776

,levels,count,dst,paths,seq
0,aduncum,30,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8224, 8683, 8712, 9263, 9368, 20194, 20195, 2..."
1,amalago,55,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[6234, 9264, 9310, 9320, 9321, 9324, 9376, 114..."
2,amplum,33,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8788, 8790, 8796, 9256, 9270, 9313, 9328, 936..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,22332,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Jequié,Bahia,[https://storage.googleapis.com/cria-zoomify/h...
1,22343,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Jequié,Bahia,[https://storage.googleapis.com/cria-zoomify/h...
2,9311,Piper,corcovadensis,Piper,grazielae,Brasil,Brazil,Itabuna,Bahia,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/RGB/specif...
color                                                        rgb
image_size                                                   512
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                                  Nordeste
levels                                                        21
total                                                        776
average                                                    36.95

region: Centro-Oeste color: RGB image_size: 256 minimum_image: 5
total of levels: 42 total of images: 1137

,levels,count,dst,paths,seq
0,aduncum,152,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7220, 7221, 7222, 7234, 8697, 8708, 8714, 930..."
1,aequale,15,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8727, 11517, 20200, 30440, 30441, 30442, 3044..."
2,alata,8,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[11542, 11685, 11701, 11703, 11704, 11707, 117..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,9123,Piper,regnellii,Piper,regnellii,Brasil,Brazil,None,Distrito Federal,[https://storage.googleapis.com/cria-zoomify/h...
1,20304,Piper,arboreum,Piper,arboreum,Brasil,Brasil,Cuiabá,Mato Grosso,[https://storage.googleapis.com/cria-zoomify/h...
2,8714,Piper,aduncum,Piper,aduncum,Brasil,Brazil,Araguaína,Goiás,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/RGB/specif...
color                                                        rgb
image_size                                                   256
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                              Centro-Oeste
levels                                                        42
total                                                       1137
average                                                    27.07

region: Centro-Oeste color: RGB image_size: 256 minimum_image: 10
total of levels: 29 total of images: 1045

,levels,count,dst,paths,seq
0,aduncum,152,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7220, 7221, 7222, 7234, 8697, 8708, 8714, 930..."
1,aequale,15,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8727, 11517, 20200, 30440, 30441, 30442, 3044..."
2,amalago,31,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8772, 9544, 11468, 11548, 11642, 11894, 11897..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,9123,Piper,regnellii,Piper,regnellii,Brasil,Brazil,None,Distrito Federal,[https://storage.googleapis.com/cria-zoomify/h...
1,20304,Piper,arboreum,Piper,arboreum,Brasil,Brasil,Cuiabá,Mato Grosso,[https://storage.googleapis.com/cria-zoomify/h...
2,8714,Piper,aduncum,Piper,aduncum,Brasil,Brazil,Araguaína,Goiás,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/RGB/specif...
color                                                        rgb
image_size                                                   256
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                              Centro-Oeste
levels                                                        29
total                                                       1045
average                                                    36.03

region: Centro-Oeste color: RGB image_size: 256 minimum_image: 20
total of levels: 17 total of images: 888

,levels,count,dst,paths,seq
0,aduncum,152,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7220, 7221, 7222, 7234, 8697, 8708, 8714, 930..."
1,amalago,31,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8772, 9544, 11468, 11548, 11642, 11894, 11897..."
2,arboreum,203,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[479, 486, 3132, 4565, 7290, 7295, 7308, 8814,..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,9123,Piper,regnellii,Piper,regnellii,Brasil,Brazil,None,Distrito Federal,[https://storage.googleapis.com/cria-zoomify/h...
1,20304,Piper,arboreum,Piper,arboreum,Brasil,Brasil,Cuiabá,Mato Grosso,[https://storage.googleapis.com/cria-zoomify/h...
2,8714,Piper,aduncum,Piper,aduncum,Brasil,Brazil,Araguaína,Goiás,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/RGB/specif...
color                                                        rgb
image_size                                                   256
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                              Centro-Oeste
levels                                                        17
total                                                        888
average                                                    52.24

region: Centro-Oeste color: RGB image_size: 400 minimum_image: 5
total of levels: 42 total of images: 1137

,levels,count,dst,paths,seq
0,aduncum,152,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7220, 7221, 7222, 7234, 8697, 8708, 8714, 930..."
1,aequale,15,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8727, 11517, 20200, 30440, 30441, 30442, 3044..."
2,alata,8,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[11542, 11685, 11701, 11703, 11704, 11707, 117..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,9123,Piper,regnellii,Piper,regnellii,Brasil,Brazil,None,Distrito Federal,[https://storage.googleapis.com/cria-zoomify/h...
1,20304,Piper,arboreum,Piper,arboreum,Brasil,Brasil,Cuiabá,Mato Grosso,[https://storage.googleapis.com/cria-zoomify/h...
2,8714,Piper,aduncum,Piper,aduncum,Brasil,Brazil,Araguaína,Goiás,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/RGB/specif...
color                                                        rgb
image_size                                                   400
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                              Centro-Oeste
levels                                                        42
total                                                       1137
average                                                    27.07

region: Centro-Oeste color: RGB image_size: 400 minimum_image: 10
total of levels: 29 total of images: 1045

,levels,count,dst,paths,seq
0,aduncum,152,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7220, 7221, 7222, 7234, 8697, 8708, 8714, 930..."
1,aequale,15,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8727, 11517, 20200, 30440, 30441, 30442, 3044..."
2,amalago,31,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8772, 9544, 11468, 11548, 11642, 11894, 11897..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,9123,Piper,regnellii,Piper,regnellii,Brasil,Brazil,None,Distrito Federal,[https://storage.googleapis.com/cria-zoomify/h...
1,20304,Piper,arboreum,Piper,arboreum,Brasil,Brasil,Cuiabá,Mato Grosso,[https://storage.googleapis.com/cria-zoomify/h...
2,8714,Piper,aduncum,Piper,aduncum,Brasil,Brazil,Araguaína,Goiás,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/RGB/specif...
color                                                        rgb
image_size                                                   400
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                              Centro-Oeste
levels                                                        29
total                                                       1045
average                                                    36.03

region: Centro-Oeste color: RGB image_size: 400 minimum_image: 20
total of levels: 17 total of images: 888

,levels,count,dst,paths,seq
0,aduncum,152,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7220, 7221, 7222, 7234, 8697, 8708, 8714, 930..."
1,amalago,31,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8772, 9544, 11468, 11548, 11642, 11894, 11897..."
2,arboreum,203,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[479, 486, 3132, 4565, 7290, 7295, 7308, 8814,..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,9123,Piper,regnellii,Piper,regnellii,Brasil,Brazil,None,Distrito Federal,[https://storage.googleapis.com/cria-zoomify/h...
1,20304,Piper,arboreum,Piper,arboreum,Brasil,Brasil,Cuiabá,Mato Grosso,[https://storage.googleapis.com/cria-zoomify/h...
2,8714,Piper,aduncum,Piper,aduncum,Brasil,Brazil,Araguaína,Goiás,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/RGB/specif...
color                                                        rgb
image_size                                                   400
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                              Centro-Oeste
levels                                                        17
total                                                        888
average                                                    52.24

region: Centro-Oeste color: RGB image_size: 512 minimum_image: 5
total of levels: 42 total of images: 1137

,levels,count,dst,paths,seq
0,aduncum,152,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7220, 7221, 7222, 7234, 8697, 8708, 8714, 930..."
1,aequale,15,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8727, 11517, 20200, 30440, 30441, 30442, 3044..."
2,alata,8,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[11542, 11685, 11701, 11703, 11704, 11707, 117..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,9123,Piper,regnellii,Piper,regnellii,Brasil,Brazil,None,Distrito Federal,[https://storage.googleapis.com/cria-zoomify/h...
1,20304,Piper,arboreum,Piper,arboreum,Brasil,Brasil,Cuiabá,Mato Grosso,[https://storage.googleapis.com/cria-zoomify/h...
2,8714,Piper,aduncum,Piper,aduncum,Brasil,Brazil,Araguaína,Goiás,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/RGB/specif...
color                                                        rgb
image_size                                                   512
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                              Centro-Oeste
levels                                                        42
total                                                       1137
average                                                    27.07

region: Centro-Oeste color: RGB image_size: 512 minimum_image: 10
total of levels: 29 total of images: 1045

,levels,count,dst,paths,seq
0,aduncum,152,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7220, 7221, 7222, 7234, 8697, 8708, 8714, 930..."
1,aequale,15,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8727, 11517, 20200, 30440, 30441, 30442, 3044..."
2,amalago,31,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8772, 9544, 11468, 11548, 11642, 11894, 11897..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,9123,Piper,regnellii,Piper,regnellii,Brasil,Brazil,None,Distrito Federal,[https://storage.googleapis.com/cria-zoomify/h...
1,20304,Piper,arboreum,Piper,arboreum,Brasil,Brasil,Cuiabá,Mato Grosso,[https://storage.googleapis.com/cria-zoomify/h...
2,8714,Piper,aduncum,Piper,aduncum,Brasil,Brazil,Araguaína,Goiás,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/RGB/specif...
color                                                        rgb
image_size                                                   512
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                              Centro-Oeste
levels                                                        29
total                                                       1045
average                                                    36.03

region: Centro-Oeste color: RGB image_size: 512 minimum_image: 20
total of levels: 17 total of images: 888

,levels,count,dst,paths,seq
0,aduncum,152,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7220, 7221, 7222, 7234, 8697, 8708, 8714, 930..."
1,amalago,31,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8772, 9544, 11468, 11548, 11642, 11894, 11897..."
2,arboreum,203,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[479, 486, 3132, 4565, 7290, 7295, 7308, 8814,..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,9123,Piper,regnellii,Piper,regnellii,Brasil,Brazil,None,Distrito Federal,[https://storage.googleapis.com/cria-zoomify/h...
1,20304,Piper,arboreum,Piper,arboreum,Brasil,Brasil,Cuiabá,Mato Grosso,[https://storage.googleapis.com/cria-zoomify/h...
2,8714,Piper,aduncum,Piper,aduncum,Brasil,Brazil,Araguaína,Goiás,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/RGB/specif...
color                                                        rgb
image_size                                                   512
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                              Centro-Oeste
levels                                                        17
total                                                        888
average                                                    52.24

region: Sul color: RGB image_size: 256 minimum_image: 5
total of levels: 72 total of images: 2459

,levels,count,dst,paths,seq
0,aduncum,56,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8701, 8702, 9674, 9927, 10002, 10051, 10094, ..."
1,alata,25,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9865, 9884, 9911, 10134, 10178, 10271, 10380,..."
2,alnoides,9,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8737, 10967, 25408, 29775, 42080, 42081, 4208..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,9735,Piper,arboreum,Piper,arboreum,Brasil,Brazil,Antonina,Paraná,[https://storage.googleapis.com/cria-zoomify/h...
1,13064,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Diamante do Norte,Paraná,[https://storage.googleapis.com/cria-zoomify/h...
2,9821,Piper,corcovadensis,Piper,grazielae,Brasil,Brazil,Bocaiúva do Sul,Paraná,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/RGB/specif...
color                                                        rgb
image_size                                                   256
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                                       Sul
levels                                                        72
total                                                       2459
average                                                    34.15

region: Sul color: RGB image_size: 256 minimum_image: 10
total of levels: 49 total of images: 2311

,levels,count,dst,paths,seq
0,aduncum,56,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8701, 8702, 9674, 9927, 10002, 10051, 10094, ..."
1,alata,25,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9865, 9884, 9911, 10134, 10178, 10271, 10380,..."
2,amalago,82,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7707, 7723, 8236, 8761, 8767, 8768, 8783, 967..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,9735,Piper,arboreum,Piper,arboreum,Brasil,Brazil,Antonina,Paraná,[https://storage.googleapis.com/cria-zoomify/h...
1,13064,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Diamante do Norte,Paraná,[https://storage.googleapis.com/cria-zoomify/h...
2,9821,Piper,corcovadensis,Piper,grazielae,Brasil,Brazil,Bocaiúva do Sul,Paraná,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/RGB/specif...
color                                                        rgb
image_size                                                   256
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                                       Sul
levels                                                        49
total                                                       2311
average                                                    47.16

region: Sul color: RGB image_size: 256 minimum_image: 20
total of levels: 33 total of images: 2111

,levels,count,dst,paths,seq
0,aduncum,56,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8701, 8702, 9674, 9927, 10002, 10051, 10094, ..."
1,alata,25,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9865, 9884, 9911, 10134, 10178, 10271, 10380,..."
2,amalago,82,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7707, 7723, 8236, 8761, 8767, 8768, 8783, 967..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,9735,Piper,arboreum,Piper,arboreum,Brasil,Brazil,Antonina,Paraná,[https://storage.googleapis.com/cria-zoomify/h...
1,13064,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Diamante do Norte,Paraná,[https://storage.googleapis.com/cria-zoomify/h...
2,9821,Piper,corcovadensis,Piper,grazielae,Brasil,Brazil,Bocaiúva do Sul,Paraná,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/RGB/specif...
color                                                        rgb
image_size                                                   256
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                                       Sul
levels                                                        33
total                                                       2111
average                                                    63.97

region: Sul color: RGB image_size: 400 minimum_image: 5
total of levels: 72 total of images: 2459

,levels,count,dst,paths,seq
0,aduncum,56,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8701, 8702, 9674, 9927, 10002, 10051, 10094, ..."
1,alata,25,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9865, 9884, 9911, 10134, 10178, 10271, 10380,..."
2,alnoides,9,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8737, 10967, 25408, 29775, 42080, 42081, 4208..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,9735,Piper,arboreum,Piper,arboreum,Brasil,Brazil,Antonina,Paraná,[https://storage.googleapis.com/cria-zoomify/h...
1,13064,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Diamante do Norte,Paraná,[https://storage.googleapis.com/cria-zoomify/h...
2,9821,Piper,corcovadensis,Piper,grazielae,Brasil,Brazil,Bocaiúva do Sul,Paraná,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/RGB/specif...
color                                                        rgb
image_size                                                   400
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                                       Sul
levels                                                        72
total                                                       2459
average                                                    34.15

region: Sul color: RGB image_size: 400 minimum_image: 10
total of levels: 49 total of images: 2311

,levels,count,dst,paths,seq
0,aduncum,56,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8701, 8702, 9674, 9927, 10002, 10051, 10094, ..."
1,alata,25,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9865, 9884, 9911, 10134, 10178, 10271, 10380,..."
2,amalago,82,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7707, 7723, 8236, 8761, 8767, 8768, 8783, 967..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,9735,Piper,arboreum,Piper,arboreum,Brasil,Brazil,Antonina,Paraná,[https://storage.googleapis.com/cria-zoomify/h...
1,13064,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Diamante do Norte,Paraná,[https://storage.googleapis.com/cria-zoomify/h...
2,9821,Piper,corcovadensis,Piper,grazielae,Brasil,Brazil,Bocaiúva do Sul,Paraná,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/RGB/specif...
color                                                        rgb
image_size                                                   400
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                                       Sul
levels                                                        49
total                                                       2311
average                                                    47.16

region: Sul color: RGB image_size: 400 minimum_image: 20
total of levels: 33 total of images: 2111

,levels,count,dst,paths,seq
0,aduncum,56,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8701, 8702, 9674, 9927, 10002, 10051, 10094, ..."
1,alata,25,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9865, 9884, 9911, 10134, 10178, 10271, 10380,..."
2,amalago,82,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7707, 7723, 8236, 8761, 8767, 8768, 8783, 967..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,9735,Piper,arboreum,Piper,arboreum,Brasil,Brazil,Antonina,Paraná,[https://storage.googleapis.com/cria-zoomify/h...
1,13064,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Diamante do Norte,Paraná,[https://storage.googleapis.com/cria-zoomify/h...
2,9821,Piper,corcovadensis,Piper,grazielae,Brasil,Brazil,Bocaiúva do Sul,Paraná,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/RGB/specif...
color                                                        rgb
image_size                                                   400
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                                       Sul
levels                                                        33
total                                                       2111
average                                                    63.97

region: Sul color: RGB image_size: 512 minimum_image: 5
total of levels: 72 total of images: 2459

,levels,count,dst,paths,seq
0,aduncum,56,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8701, 8702, 9674, 9927, 10002, 10051, 10094, ..."
1,alata,25,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9865, 9884, 9911, 10134, 10178, 10271, 10380,..."
2,alnoides,9,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8737, 10967, 25408, 29775, 42080, 42081, 4208..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,9735,Piper,arboreum,Piper,arboreum,Brasil,Brazil,Antonina,Paraná,[https://storage.googleapis.com/cria-zoomify/h...
1,13064,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Diamante do Norte,Paraná,[https://storage.googleapis.com/cria-zoomify/h...
2,9821,Piper,corcovadensis,Piper,grazielae,Brasil,Brazil,Bocaiúva do Sul,Paraná,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/RGB/specif...
color                                                        rgb
image_size                                                   512
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                                       Sul
levels                                                        72
total                                                       2459
average                                                    34.15

region: Sul color: RGB image_size: 512 minimum_image: 10
total of levels: 49 total of images: 2311

,levels,count,dst,paths,seq
0,aduncum,56,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8701, 8702, 9674, 9927, 10002, 10051, 10094, ..."
1,alata,25,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9865, 9884, 9911, 10134, 10178, 10271, 10380,..."
2,amalago,82,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7707, 7723, 8236, 8761, 8767, 8768, 8783, 967..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,9735,Piper,arboreum,Piper,arboreum,Brasil,Brazil,Antonina,Paraná,[https://storage.googleapis.com/cria-zoomify/h...
1,13064,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Diamante do Norte,Paraná,[https://storage.googleapis.com/cria-zoomify/h...
2,9821,Piper,corcovadensis,Piper,grazielae,Brasil,Brazil,Bocaiúva do Sul,Paraná,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/RGB/specif...
color                                                        rgb
image_size                                                   512
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                                       Sul
levels                                                        49
total                                                       2311
average                                                    47.16

region: Sul color: RGB image_size: 512 minimum_image: 20
total of levels: 33 total of images: 2111

,levels,count,dst,paths,seq
0,aduncum,56,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8701, 8702, 9674, 9927, 10002, 10051, 10094, ..."
1,alata,25,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9865, 9884, 9911, 10134, 10178, 10271, 10380,..."
2,amalago,82,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7707, 7723, 8236, 8761, 8767, 8768, 8783, 967..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,9735,Piper,arboreum,Piper,arboreum,Brasil,Brazil,Antonina,Paraná,[https://storage.googleapis.com/cria-zoomify/h...
1,13064,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Diamante do Norte,Paraná,[https://storage.googleapis.com/cria-zoomify/h...
2,9821,Piper,corcovadensis,Piper,grazielae,Brasil,Brazil,Bocaiúva do Sul,Paraná,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/RGB/specif...
color                                                        rgb
image_size                                                   512
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                                       Sul
levels                                                        33
total                                                       2111
average                                                    63.97

region: Sudeste color: RGB image_size: 256 minimum_image: 5
total of levels: 102 total of images: 2761

,levels,count,dst,paths,seq
0,abutiloides,6,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9416, 12428, 25112, 37910, 38475, 43669]"
1,aduncum,91,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7742, 7757, 8700, 8705, 8711, 9435, 9439, 957..."
2,alata,28,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[6857, 6861, 6862, 6863, 6864, 7565, 7859, 110..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,19770,Ottonia,anisum,Piper,anisum,Brasil,Brasil,Guapimirim,Rio de Janeiro,[https://storage.googleapis.com/cria-zoomify/h...
1,7333,Piper,corcovadense,Piper,grazielae,Brasil,Brazil,Tapira,São Paulo,[https://storage.googleapis.com/cria-zoomify/h...
2,21142,Ottonia,propinqua,Piper,grazielae,Brasil,Brasil,Limeira,São Paulo,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/RGB/specif...
color                                                        rgb
image_size                                                   256
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                                   Sudeste
levels                                                       102
total                                                       2761
average                                                    27.07

region: Sudeste color: RGB image_size: 256 minimum_image: 10
total of levels: 68 total of images: 2536

,levels,count,dst,paths,seq
0,aduncum,91,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7742, 7757, 8700, 8705, 8711, 9435, 9439, 957..."
1,alata,28,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[6857, 6861, 6862, 6863, 6864, 7565, 7859, 110..."
2,amalago,111,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[2798, 7741, 7908, 7928, 8751, 8757, 8758, 876..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,19770,Ottonia,anisum,Piper,anisum,Brasil,Brasil,Guapimirim,Rio de Janeiro,[https://storage.googleapis.com/cria-zoomify/h...
1,7333,Piper,corcovadense,Piper,grazielae,Brasil,Brazil,Tapira,São Paulo,[https://storage.googleapis.com/cria-zoomify/h...
2,21142,Ottonia,propinqua,Piper,grazielae,Brasil,Brasil,Limeira,São Paulo,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/RGB/specif...
color                                                        rgb
image_size                                                   256
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                                   Sudeste
levels                                                        68
total                                                       2536
average                                                    37.29

region: Sudeste color: RGB image_size: 256 minimum_image: 20
total of levels: 42 total of images: 2211

,levels,count,dst,paths,seq
0,aduncum,91,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7742, 7757, 8700, 8705, 8711, 9435, 9439, 957..."
1,alata,28,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[6857, 6861, 6862, 6863, 6864, 7565, 7859, 110..."
2,amalago,111,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[2798, 7741, 7908, 7928, 8751, 8757, 8758, 876..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,19770,Ottonia,anisum,Piper,anisum,Brasil,Brasil,Guapimirim,Rio de Janeiro,[https://storage.googleapis.com/cria-zoomify/h...
1,7333,Piper,corcovadense,Piper,grazielae,Brasil,Brazil,Tapira,São Paulo,[https://storage.googleapis.com/cria-zoomify/h...
2,21142,Ottonia,propinqua,Piper,grazielae,Brasil,Brasil,Limeira,São Paulo,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/RGB/specif...
color                                                        rgb
image_size                                                   256
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                                   Sudeste
levels                                                        42
total                                                       2211
average                                                    52.64

region: Sudeste color: RGB image_size: 400 minimum_image: 5
total of levels: 102 total of images: 2761

,levels,count,dst,paths,seq
0,abutiloides,6,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9416, 12428, 25112, 37910, 38475, 43669]"
1,aduncum,91,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7742, 7757, 8700, 8705, 8711, 9435, 9439, 957..."
2,alata,28,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[6857, 6861, 6862, 6863, 6864, 7565, 7859, 110..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,19770,Ottonia,anisum,Piper,anisum,Brasil,Brasil,Guapimirim,Rio de Janeiro,[https://storage.googleapis.com/cria-zoomify/h...
1,7333,Piper,corcovadense,Piper,grazielae,Brasil,Brazil,Tapira,São Paulo,[https://storage.googleapis.com/cria-zoomify/h...
2,21142,Ottonia,propinqua,Piper,grazielae,Brasil,Brasil,Limeira,São Paulo,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/RGB/specif...
color                                                        rgb
image_size                                                   400
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                                   Sudeste
levels                                                       102
total                                                       2761
average                                                    27.07

region: Sudeste color: RGB image_size: 400 minimum_image: 10
total of levels: 68 total of images: 2536

,levels,count,dst,paths,seq
0,aduncum,91,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7742, 7757, 8700, 8705, 8711, 9435, 9439, 957..."
1,alata,28,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[6857, 6861, 6862, 6863, 6864, 7565, 7859, 110..."
2,amalago,111,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[2798, 7741, 7908, 7928, 8751, 8757, 8758, 876..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,19770,Ottonia,anisum,Piper,anisum,Brasil,Brasil,Guapimirim,Rio de Janeiro,[https://storage.googleapis.com/cria-zoomify/h...
1,7333,Piper,corcovadense,Piper,grazielae,Brasil,Brazil,Tapira,São Paulo,[https://storage.googleapis.com/cria-zoomify/h...
2,21142,Ottonia,propinqua,Piper,grazielae,Brasil,Brasil,Limeira,São Paulo,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/RGB/specif...
color                                                        rgb
image_size                                                   400
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                                   Sudeste
levels                                                        68
total                                                       2536
average                                                    37.29

region: Sudeste color: RGB image_size: 400 minimum_image: 20
total of levels: 42 total of images: 2211

,levels,count,dst,paths,seq
0,aduncum,91,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7742, 7757, 8700, 8705, 8711, 9435, 9439, 957..."
1,alata,28,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[6857, 6861, 6862, 6863, 6864, 7565, 7859, 110..."
2,amalago,111,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[2798, 7741, 7908, 7928, 8751, 8757, 8758, 876..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,19770,Ottonia,anisum,Piper,anisum,Brasil,Brasil,Guapimirim,Rio de Janeiro,[https://storage.googleapis.com/cria-zoomify/h...
1,7333,Piper,corcovadense,Piper,grazielae,Brasil,Brazil,Tapira,São Paulo,[https://storage.googleapis.com/cria-zoomify/h...
2,21142,Ottonia,propinqua,Piper,grazielae,Brasil,Brasil,Limeira,São Paulo,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/RGB/specif...
color                                                        rgb
image_size                                                   400
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                                   Sudeste
levels                                                        42
total                                                       2211
average                                                    52.64

region: Sudeste color: RGB image_size: 512 minimum_image: 5
total of levels: 102 total of images: 2761

,levels,count,dst,paths,seq
0,abutiloides,6,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9416, 12428, 25112, 37910, 38475, 43669]"
1,aduncum,91,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7742, 7757, 8700, 8705, 8711, 9435, 9439, 957..."
2,alata,28,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[6857, 6861, 6862, 6863, 6864, 7565, 7859, 110..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,19770,Ottonia,anisum,Piper,anisum,Brasil,Brasil,Guapimirim,Rio de Janeiro,[https://storage.googleapis.com/cria-zoomify/h...
1,7333,Piper,corcovadense,Piper,grazielae,Brasil,Brazil,Tapira,São Paulo,[https://storage.googleapis.com/cria-zoomify/h...
2,21142,Ottonia,propinqua,Piper,grazielae,Brasil,Brasil,Limeira,São Paulo,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/RGB/specif...
color                                                        rgb
image_size                                                   512
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                                   Sudeste
levels                                                       102
total                                                       2761
average                                                    27.07

region: Sudeste color: RGB image_size: 512 minimum_image: 10
total of levels: 68 total of images: 2536

,levels,count,dst,paths,seq
0,aduncum,91,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7742, 7757, 8700, 8705, 8711, 9435, 9439, 957..."
1,alata,28,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[6857, 6861, 6862, 6863, 6864, 7565, 7859, 110..."
2,amalago,111,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[2798, 7741, 7908, 7928, 8751, 8757, 8758, 876..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,19770,Ottonia,anisum,Piper,anisum,Brasil,Brasil,Guapimirim,Rio de Janeiro,[https://storage.googleapis.com/cria-zoomify/h...
1,7333,Piper,corcovadense,Piper,grazielae,Brasil,Brazil,Tapira,São Paulo,[https://storage.googleapis.com/cria-zoomify/h...
2,21142,Ottonia,propinqua,Piper,grazielae,Brasil,Brasil,Limeira,São Paulo,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/RGB/specif...
color                                                        rgb
image_size                                                   512
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                                   Sudeste
levels                                                        68
total                                                       2536
average                                                    37.29

region: Sudeste color: RGB image_size: 512 minimum_image: 20
total of levels: 42 total of images: 2211

,levels,count,dst,paths,seq
0,aduncum,91,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7742, 7757, 8700, 8705, 8711, 9435, 9439, 957..."
1,alata,28,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[6857, 6861, 6862, 6863, 6864, 7565, 7859, 110..."
2,amalago,111,/home/xandao/Imagens/region_dataset/RGB/specif...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[2798, 7741, 7908, 7928, 8751, 8757, 8758, 876..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,19770,Ottonia,anisum,Piper,anisum,Brasil,Brasil,Guapimirim,Rio de Janeiro,[https://storage.googleapis.com/cria-zoomify/h...
1,7333,Piper,corcovadense,Piper,grazielae,Brasil,Brazil,Tapira,São Paulo,[https://storage.googleapis.com/cria-zoomify/h...
2,21142,Ottonia,propinqua,Piper,grazielae,Brasil,Brasil,Limeira,São Paulo,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/RGB/specif...
color                                                        rgb
image_size                                                   512
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                                   Sudeste
levels                                                        42
total                                                       2211
average                                                    52.64

region: Norte color: GRAYSCALE image_size: 256 minimum_image: 5
total of levels: 107 total of images: 2637

,levels,count,dst,paths,seq
0,aduncum,48,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[11893, 12586, 14141, 30236, 30237, 30247, 302..."
1,aequale,9,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[12577, 30534, 30546, 36793, 43763, 43769, 457..."
2,alata,8,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[26378, 26385, 26457, 37031, 43122, 43125, 431..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,1363,Peperomia,glabella,Peperomia,glabella,Brasil,Brazil,None,Acre,[https://storage.googleapis.com/cria-zoomify/h...
1,44254,Piper,coruscans,Piper,coruscans,Brasil,Brasil,Porto Velho,Rondônia,[https://storage.googleapis.com/cria-zoomify/h...
2,13605,Piper,arboreum,Piper,arboreum,Brasil,Brasil,None,Pará,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/GRAYSCALE/...
color                                                  grayscale
image_size                                                   256
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                                     Norte
levels                                                       107
total                                                       2637
average                                                    24.64

region: Norte color: GRAYSCALE image_size: 256 minimum_image: 10
total of levels: 68 total of images: 2353

,levels,count,dst,paths,seq
0,aduncum,48,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[11893, 12586, 14141, 30236, 30237, 30247, 302..."
1,alatabaccum,28,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[26207, 30555, 30557, 30558, 30560, 30561, 305..."
2,aleyreanum,40,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[27846, 27946, 28022, 28775, 28832, 28852, 292..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,1363,Peperomia,glabella,Peperomia,glabella,Brasil,Brazil,None,Acre,[https://storage.googleapis.com/cria-zoomify/h...
1,44254,Piper,coruscans,Piper,coruscans,Brasil,Brasil,Porto Velho,Rondônia,[https://storage.googleapis.com/cria-zoomify/h...
2,13605,Piper,arboreum,Piper,arboreum,Brasil,Brasil,None,Pará,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/GRAYSCALE/...
color                                                  grayscale
image_size                                                   256
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                                     Norte
levels                                                        68
total                                                       2353
average                                                     34.6

region: Norte color: GRAYSCALE image_size: 256 minimum_image: 20
total of levels: 41 total of images: 2016

,levels,count,dst,paths,seq
0,aduncum,48,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[11893, 12586, 14141, 30236, 30237, 30247, 302..."
1,alatabaccum,28,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[26207, 30555, 30557, 30558, 30560, 30561, 305..."
2,aleyreanum,40,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[27846, 27946, 28022, 28775, 28832, 28852, 292..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,1363,Peperomia,glabella,Peperomia,glabella,Brasil,Brazil,None,Acre,[https://storage.googleapis.com/cria-zoomify/h...
1,13605,Piper,arboreum,Piper,arboreum,Brasil,Brasil,None,Pará,[https://storage.googleapis.com/cria-zoomify/h...
2,1757,Peperomia,quadrangularis,Peperomia,quadrangularis,Brasil,Brazil,None,Amazonas,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/GRAYSCALE/...
color                                                  grayscale
image_size                                                   256
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                                     Norte
levels                                                        41
total                                                       2016
average                                                    49.17

region: Norte color: GRAYSCALE image_size: 400 minimum_image: 5
total of levels: 107 total of images: 2637

,levels,count,dst,paths,seq
0,aduncum,48,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[11893, 12586, 14141, 30236, 30237, 30247, 302..."
1,aequale,9,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[12577, 30534, 30546, 36793, 43763, 43769, 457..."
2,alata,8,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[26378, 26385, 26457, 37031, 43122, 43125, 431..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,1363,Peperomia,glabella,Peperomia,glabella,Brasil,Brazil,None,Acre,[https://storage.googleapis.com/cria-zoomify/h...
1,44254,Piper,coruscans,Piper,coruscans,Brasil,Brasil,Porto Velho,Rondônia,[https://storage.googleapis.com/cria-zoomify/h...
2,13605,Piper,arboreum,Piper,arboreum,Brasil,Brasil,None,Pará,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/GRAYSCALE/...
color                                                  grayscale
image_size                                                   400
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                                     Norte
levels                                                       107
total                                                       2637
average                                                    24.64

region: Norte color: GRAYSCALE image_size: 400 minimum_image: 10
total of levels: 68 total of images: 2353

,levels,count,dst,paths,seq
0,aduncum,48,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[11893, 12586, 14141, 30236, 30237, 30247, 302..."
1,alatabaccum,28,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[26207, 30555, 30557, 30558, 30560, 30561, 305..."
2,aleyreanum,40,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[27846, 27946, 28022, 28775, 28832, 28852, 292..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,1363,Peperomia,glabella,Peperomia,glabella,Brasil,Brazil,None,Acre,[https://storage.googleapis.com/cria-zoomify/h...
1,44254,Piper,coruscans,Piper,coruscans,Brasil,Brasil,Porto Velho,Rondônia,[https://storage.googleapis.com/cria-zoomify/h...
2,13605,Piper,arboreum,Piper,arboreum,Brasil,Brasil,None,Pará,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/GRAYSCALE/...
color                                                  grayscale
image_size                                                   400
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                                     Norte
levels                                                        68
total                                                       2353
average                                                     34.6

region: Norte color: GRAYSCALE image_size: 400 minimum_image: 20
total of levels: 41 total of images: 2016

,levels,count,dst,paths,seq
0,aduncum,48,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[11893, 12586, 14141, 30236, 30237, 30247, 302..."
1,alatabaccum,28,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[26207, 30555, 30557, 30558, 30560, 30561, 305..."
2,aleyreanum,40,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[27846, 27946, 28022, 28775, 28832, 28852, 292..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,1363,Peperomia,glabella,Peperomia,glabella,Brasil,Brazil,None,Acre,[https://storage.googleapis.com/cria-zoomify/h...
1,13605,Piper,arboreum,Piper,arboreum,Brasil,Brasil,None,Pará,[https://storage.googleapis.com/cria-zoomify/h...
2,1757,Peperomia,quadrangularis,Peperomia,quadrangularis,Brasil,Brazil,None,Amazonas,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/GRAYSCALE/...
color                                                  grayscale
image_size                                                   400
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                                     Norte
levels                                                        41
total                                                       2016
average                                                    49.17

region: Norte color: GRAYSCALE image_size: 512 minimum_image: 5
total of levels: 107 total of images: 2637

,levels,count,dst,paths,seq
0,aduncum,48,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[11893, 12586, 14141, 30236, 30237, 30247, 302..."
1,aequale,9,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[12577, 30534, 30546, 36793, 43763, 43769, 457..."
2,alata,8,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[26378, 26385, 26457, 37031, 43122, 43125, 431..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,1363,Peperomia,glabella,Peperomia,glabella,Brasil,Brazil,None,Acre,[https://storage.googleapis.com/cria-zoomify/h...
1,44254,Piper,coruscans,Piper,coruscans,Brasil,Brasil,Porto Velho,Rondônia,[https://storage.googleapis.com/cria-zoomify/h...
2,13605,Piper,arboreum,Piper,arboreum,Brasil,Brasil,None,Pará,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/GRAYSCALE/...
color                                                  grayscale
image_size                                                   512
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                                     Norte
levels                                                       107
total                                                       2637
average                                                    24.64

region: Norte color: GRAYSCALE image_size: 512 minimum_image: 10
total of levels: 68 total of images: 2353

,levels,count,dst,paths,seq
0,aduncum,48,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[11893, 12586, 14141, 30236, 30237, 30247, 302..."
1,alatabaccum,28,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[26207, 30555, 30557, 30558, 30560, 30561, 305..."
2,aleyreanum,40,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[27846, 27946, 28022, 28775, 28832, 28852, 292..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,1363,Peperomia,glabella,Peperomia,glabella,Brasil,Brazil,None,Acre,[https://storage.googleapis.com/cria-zoomify/h...
1,44254,Piper,coruscans,Piper,coruscans,Brasil,Brasil,Porto Velho,Rondônia,[https://storage.googleapis.com/cria-zoomify/h...
2,13605,Piper,arboreum,Piper,arboreum,Brasil,Brasil,None,Pará,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/GRAYSCALE/...
color                                                  grayscale
image_size                                                   512
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                                     Norte
levels                                                        68
total                                                       2353
average                                                     34.6

region: Norte color: GRAYSCALE image_size: 512 minimum_image: 20
total of levels: 41 total of images: 2016

,levels,count,dst,paths,seq
0,aduncum,48,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[11893, 12586, 14141, 30236, 30237, 30247, 302..."
1,alatabaccum,28,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[26207, 30555, 30557, 30558, 30560, 30561, 305..."
2,aleyreanum,40,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[27846, 27946, 28022, 28775, 28832, 28852, 292..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,1363,Peperomia,glabella,Peperomia,glabella,Brasil,Brazil,None,Acre,[https://storage.googleapis.com/cria-zoomify/h...
1,13605,Piper,arboreum,Piper,arboreum,Brasil,Brasil,None,Pará,[https://storage.googleapis.com/cria-zoomify/h...
2,1757,Peperomia,quadrangularis,Peperomia,quadrangularis,Brasil,Brazil,None,Amazonas,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/GRAYSCALE/...
color                                                  grayscale
image_size                                                   512
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                                     Norte
levels                                                        41
total                                                       2016
average                                                    49.17

region: Nordeste color: GRAYSCALE image_size: 256 minimum_image: 5
total of levels: 48 total of images: 1063

,levels,count,dst,paths,seq
0,aduncum,30,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8224, 8683, 8712, 9263, 9368, 20194, 20195, 2..."
1,alata,12,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[19807, 19808, 21352, 21361, 21408, 21409, 214..."
2,amalago,55,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[6234, 9264, 9310, 9320, 9321, 9324, 9376, 114..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,40891,Ottonia,taperana,Piper,anisum,Brasil,Brasil,Palmares,Pernambuco,[https://storage.googleapis.com/cria-zoomify/h...
1,22332,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Jequié,Bahia,[https://storage.googleapis.com/cria-zoomify/h...
2,22343,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Jequié,Bahia,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/GRAYSCALE/...
color                                                  grayscale
image_size                                                   256
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                                  Nordeste
levels                                                        48
total                                                       1063
average                                                    22.15

region: Nordeste color: GRAYSCALE image_size: 256 minimum_image: 10
total of levels: 35 total of images: 974

,levels,count,dst,paths,seq
0,aduncum,30,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8224, 8683, 8712, 9263, 9368, 20194, 20195, 2..."
1,alata,12,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[19807, 19808, 21352, 21361, 21408, 21409, 214..."
2,amalago,55,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[6234, 9264, 9310, 9320, 9321, 9324, 9376, 114..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,22332,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Jequié,Bahia,[https://storage.googleapis.com/cria-zoomify/h...
1,22343,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Jequié,Bahia,[https://storage.googleapis.com/cria-zoomify/h...
2,9311,Piper,corcovadensis,Piper,grazielae,Brasil,Brazil,Itabuna,Bahia,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/GRAYSCALE/...
color                                                  grayscale
image_size                                                   256
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                                  Nordeste
levels                                                        35
total                                                        974
average                                                    27.83

region: Nordeste color: GRAYSCALE image_size: 256 minimum_image: 20
total of levels: 21 total of images: 776

,levels,count,dst,paths,seq
0,aduncum,30,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8224, 8683, 8712, 9263, 9368, 20194, 20195, 2..."
1,amalago,55,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[6234, 9264, 9310, 9320, 9321, 9324, 9376, 114..."
2,amplum,33,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8788, 8790, 8796, 9256, 9270, 9313, 9328, 936..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,22332,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Jequié,Bahia,[https://storage.googleapis.com/cria-zoomify/h...
1,22343,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Jequié,Bahia,[https://storage.googleapis.com/cria-zoomify/h...
2,9311,Piper,corcovadensis,Piper,grazielae,Brasil,Brazil,Itabuna,Bahia,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/GRAYSCALE/...
color                                                  grayscale
image_size                                                   256
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                                  Nordeste
levels                                                        21
total                                                        776
average                                                    36.95

region: Nordeste color: GRAYSCALE image_size: 400 minimum_image: 5
total of levels: 48 total of images: 1063

,levels,count,dst,paths,seq
0,aduncum,30,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8224, 8683, 8712, 9263, 9368, 20194, 20195, 2..."
1,alata,12,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[19807, 19808, 21352, 21361, 21408, 21409, 214..."
2,amalago,55,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[6234, 9264, 9310, 9320, 9321, 9324, 9376, 114..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,40891,Ottonia,taperana,Piper,anisum,Brasil,Brasil,Palmares,Pernambuco,[https://storage.googleapis.com/cria-zoomify/h...
1,22332,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Jequié,Bahia,[https://storage.googleapis.com/cria-zoomify/h...
2,22343,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Jequié,Bahia,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/GRAYSCALE/...
color                                                  grayscale
image_size                                                   400
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                                  Nordeste
levels                                                        48
total                                                       1063
average                                                    22.15

region: Nordeste color: GRAYSCALE image_size: 400 minimum_image: 10
total of levels: 35 total of images: 974

,levels,count,dst,paths,seq
0,aduncum,30,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8224, 8683, 8712, 9263, 9368, 20194, 20195, 2..."
1,alata,12,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[19807, 19808, 21352, 21361, 21408, 21409, 214..."
2,amalago,55,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[6234, 9264, 9310, 9320, 9321, 9324, 9376, 114..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,22332,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Jequié,Bahia,[https://storage.googleapis.com/cria-zoomify/h...
1,22343,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Jequié,Bahia,[https://storage.googleapis.com/cria-zoomify/h...
2,9311,Piper,corcovadensis,Piper,grazielae,Brasil,Brazil,Itabuna,Bahia,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/GRAYSCALE/...
color                                                  grayscale
image_size                                                   400
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                                  Nordeste
levels                                                        35
total                                                        974
average                                                    27.83

region: Nordeste color: GRAYSCALE image_size: 400 minimum_image: 20
total of levels: 21 total of images: 776

,levels,count,dst,paths,seq
0,aduncum,30,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8224, 8683, 8712, 9263, 9368, 20194, 20195, 2..."
1,amalago,55,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[6234, 9264, 9310, 9320, 9321, 9324, 9376, 114..."
2,amplum,33,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8788, 8790, 8796, 9256, 9270, 9313, 9328, 936..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,22332,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Jequié,Bahia,[https://storage.googleapis.com/cria-zoomify/h...
1,22343,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Jequié,Bahia,[https://storage.googleapis.com/cria-zoomify/h...
2,9311,Piper,corcovadensis,Piper,grazielae,Brasil,Brazil,Itabuna,Bahia,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/GRAYSCALE/...
color                                                  grayscale
image_size                                                   400
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                                  Nordeste
levels                                                        21
total                                                        776
average                                                    36.95

region: Nordeste color: GRAYSCALE image_size: 512 minimum_image: 5
total of levels: 48 total of images: 1063

,levels,count,dst,paths,seq
0,aduncum,30,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8224, 8683, 8712, 9263, 9368, 20194, 20195, 2..."
1,alata,12,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[19807, 19808, 21352, 21361, 21408, 21409, 214..."
2,amalago,55,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[6234, 9264, 9310, 9320, 9321, 9324, 9376, 114..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,40891,Ottonia,taperana,Piper,anisum,Brasil,Brasil,Palmares,Pernambuco,[https://storage.googleapis.com/cria-zoomify/h...
1,22332,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Jequié,Bahia,[https://storage.googleapis.com/cria-zoomify/h...
2,22343,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Jequié,Bahia,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/GRAYSCALE/...
color                                                  grayscale
image_size                                                   512
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                                  Nordeste
levels                                                        48
total                                                       1063
average                                                    22.15

region: Nordeste color: GRAYSCALE image_size: 512 minimum_image: 10
total of levels: 35 total of images: 974

,levels,count,dst,paths,seq
0,aduncum,30,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8224, 8683, 8712, 9263, 9368, 20194, 20195, 2..."
1,alata,12,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[19807, 19808, 21352, 21361, 21408, 21409, 214..."
2,amalago,55,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[6234, 9264, 9310, 9320, 9321, 9324, 9376, 114..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,22332,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Jequié,Bahia,[https://storage.googleapis.com/cria-zoomify/h...
1,22343,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Jequié,Bahia,[https://storage.googleapis.com/cria-zoomify/h...
2,9311,Piper,corcovadensis,Piper,grazielae,Brasil,Brazil,Itabuna,Bahia,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/GRAYSCALE/...
color                                                  grayscale
image_size                                                   512
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                                  Nordeste
levels                                                        35
total                                                        974
average                                                    27.83

region: Nordeste color: GRAYSCALE image_size: 512 minimum_image: 20
total of levels: 21 total of images: 776

,levels,count,dst,paths,seq
0,aduncum,30,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8224, 8683, 8712, 9263, 9368, 20194, 20195, 2..."
1,amalago,55,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[6234, 9264, 9310, 9320, 9321, 9324, 9376, 114..."
2,amplum,33,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8788, 8790, 8796, 9256, 9270, 9313, 9328, 936..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,22332,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Jequié,Bahia,[https://storage.googleapis.com/cria-zoomify/h...
1,22343,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Jequié,Bahia,[https://storage.googleapis.com/cria-zoomify/h...
2,9311,Piper,corcovadensis,Piper,grazielae,Brasil,Brazil,Itabuna,Bahia,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/GRAYSCALE/...
color                                                  grayscale
image_size                                                   512
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                                  Nordeste
levels                                                        21
total                                                        776
average                                                    36.95

region: Centro-Oeste color: GRAYSCALE image_size: 256 minimum_image: 5
total of levels: 42 total of images: 1137

,levels,count,dst,paths,seq
0,aduncum,152,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7220, 7221, 7222, 7234, 8697, 8708, 8714, 930..."
1,aequale,15,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8727, 11517, 20200, 30440, 30441, 30442, 3044..."
2,alata,8,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[11542, 11685, 11701, 11703, 11704, 11707, 117..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,9123,Piper,regnellii,Piper,regnellii,Brasil,Brazil,None,Distrito Federal,[https://storage.googleapis.com/cria-zoomify/h...
1,20304,Piper,arboreum,Piper,arboreum,Brasil,Brasil,Cuiabá,Mato Grosso,[https://storage.googleapis.com/cria-zoomify/h...
2,8714,Piper,aduncum,Piper,aduncum,Brasil,Brazil,Araguaína,Goiás,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/GRAYSCALE/...
color                                                  grayscale
image_size                                                   256
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                              Centro-Oeste
levels                                                        42
total                                                       1137
average                                                    27.07

region: Centro-Oeste color: GRAYSCALE image_size: 256 minimum_image: 10
total of levels: 29 total of images: 1045

,levels,count,dst,paths,seq
0,aduncum,152,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7220, 7221, 7222, 7234, 8697, 8708, 8714, 930..."
1,aequale,15,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8727, 11517, 20200, 30440, 30441, 30442, 3044..."
2,amalago,31,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8772, 9544, 11468, 11548, 11642, 11894, 11897..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,9123,Piper,regnellii,Piper,regnellii,Brasil,Brazil,None,Distrito Federal,[https://storage.googleapis.com/cria-zoomify/h...
1,20304,Piper,arboreum,Piper,arboreum,Brasil,Brasil,Cuiabá,Mato Grosso,[https://storage.googleapis.com/cria-zoomify/h...
2,8714,Piper,aduncum,Piper,aduncum,Brasil,Brazil,Araguaína,Goiás,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/GRAYSCALE/...
color                                                  grayscale
image_size                                                   256
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                              Centro-Oeste
levels                                                        29
total                                                       1045
average                                                    36.03

region: Centro-Oeste color: GRAYSCALE image_size: 256 minimum_image: 20
total of levels: 17 total of images: 888

,levels,count,dst,paths,seq
0,aduncum,152,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7220, 7221, 7222, 7234, 8697, 8708, 8714, 930..."
1,amalago,31,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8772, 9544, 11468, 11548, 11642, 11894, 11897..."
2,arboreum,203,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[479, 486, 3132, 4565, 7290, 7295, 7308, 8814,..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,9123,Piper,regnellii,Piper,regnellii,Brasil,Brazil,None,Distrito Federal,[https://storage.googleapis.com/cria-zoomify/h...
1,20304,Piper,arboreum,Piper,arboreum,Brasil,Brasil,Cuiabá,Mato Grosso,[https://storage.googleapis.com/cria-zoomify/h...
2,8714,Piper,aduncum,Piper,aduncum,Brasil,Brazil,Araguaína,Goiás,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/GRAYSCALE/...
color                                                  grayscale
image_size                                                   256
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                              Centro-Oeste
levels                                                        17
total                                                        888
average                                                    52.24

region: Centro-Oeste color: GRAYSCALE image_size: 400 minimum_image: 5
total of levels: 42 total of images: 1137

,levels,count,dst,paths,seq
0,aduncum,152,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7220, 7221, 7222, 7234, 8697, 8708, 8714, 930..."
1,aequale,15,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8727, 11517, 20200, 30440, 30441, 30442, 3044..."
2,alata,8,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[11542, 11685, 11701, 11703, 11704, 11707, 117..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,9123,Piper,regnellii,Piper,regnellii,Brasil,Brazil,None,Distrito Federal,[https://storage.googleapis.com/cria-zoomify/h...
1,20304,Piper,arboreum,Piper,arboreum,Brasil,Brasil,Cuiabá,Mato Grosso,[https://storage.googleapis.com/cria-zoomify/h...
2,8714,Piper,aduncum,Piper,aduncum,Brasil,Brazil,Araguaína,Goiás,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/GRAYSCALE/...
color                                                  grayscale
image_size                                                   400
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                              Centro-Oeste
levels                                                        42
total                                                       1137
average                                                    27.07

region: Centro-Oeste color: GRAYSCALE image_size: 400 minimum_image: 10
total of levels: 29 total of images: 1045

,levels,count,dst,paths,seq
0,aduncum,152,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7220, 7221, 7222, 7234, 8697, 8708, 8714, 930..."
1,aequale,15,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8727, 11517, 20200, 30440, 30441, 30442, 3044..."
2,amalago,31,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8772, 9544, 11468, 11548, 11642, 11894, 11897..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,9123,Piper,regnellii,Piper,regnellii,Brasil,Brazil,None,Distrito Federal,[https://storage.googleapis.com/cria-zoomify/h...
1,20304,Piper,arboreum,Piper,arboreum,Brasil,Brasil,Cuiabá,Mato Grosso,[https://storage.googleapis.com/cria-zoomify/h...
2,8714,Piper,aduncum,Piper,aduncum,Brasil,Brazil,Araguaína,Goiás,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/GRAYSCALE/...
color                                                  grayscale
image_size                                                   400
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                              Centro-Oeste
levels                                                        29
total                                                       1045
average                                                    36.03

region: Centro-Oeste color: GRAYSCALE image_size: 400 minimum_image: 20
total of levels: 17 total of images: 888

,levels,count,dst,paths,seq
0,aduncum,152,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7220, 7221, 7222, 7234, 8697, 8708, 8714, 930..."
1,amalago,31,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8772, 9544, 11468, 11548, 11642, 11894, 11897..."
2,arboreum,203,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[479, 486, 3132, 4565, 7290, 7295, 7308, 8814,..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,9123,Piper,regnellii,Piper,regnellii,Brasil,Brazil,None,Distrito Federal,[https://storage.googleapis.com/cria-zoomify/h...
1,20304,Piper,arboreum,Piper,arboreum,Brasil,Brasil,Cuiabá,Mato Grosso,[https://storage.googleapis.com/cria-zoomify/h...
2,8714,Piper,aduncum,Piper,aduncum,Brasil,Brazil,Araguaína,Goiás,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/GRAYSCALE/...
color                                                  grayscale
image_size                                                   400
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                              Centro-Oeste
levels                                                        17
total                                                        888
average                                                    52.24

region: Centro-Oeste color: GRAYSCALE image_size: 512 minimum_image: 5
total of levels: 42 total of images: 1137

,levels,count,dst,paths,seq
0,aduncum,152,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7220, 7221, 7222, 7234, 8697, 8708, 8714, 930..."
1,aequale,15,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8727, 11517, 20200, 30440, 30441, 30442, 3044..."
2,alata,8,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[11542, 11685, 11701, 11703, 11704, 11707, 117..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,9123,Piper,regnellii,Piper,regnellii,Brasil,Brazil,None,Distrito Federal,[https://storage.googleapis.com/cria-zoomify/h...
1,20304,Piper,arboreum,Piper,arboreum,Brasil,Brasil,Cuiabá,Mato Grosso,[https://storage.googleapis.com/cria-zoomify/h...
2,8714,Piper,aduncum,Piper,aduncum,Brasil,Brazil,Araguaína,Goiás,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/GRAYSCALE/...
color                                                  grayscale
image_size                                                   512
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                              Centro-Oeste
levels                                                        42
total                                                       1137
average                                                    27.07

region: Centro-Oeste color: GRAYSCALE image_size: 512 minimum_image: 10
total of levels: 29 total of images: 1045

,levels,count,dst,paths,seq
0,aduncum,152,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7220, 7221, 7222, 7234, 8697, 8708, 8714, 930..."
1,aequale,15,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8727, 11517, 20200, 30440, 30441, 30442, 3044..."
2,amalago,31,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8772, 9544, 11468, 11548, 11642, 11894, 11897..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,9123,Piper,regnellii,Piper,regnellii,Brasil,Brazil,None,Distrito Federal,[https://storage.googleapis.com/cria-zoomify/h...
1,20304,Piper,arboreum,Piper,arboreum,Brasil,Brasil,Cuiabá,Mato Grosso,[https://storage.googleapis.com/cria-zoomify/h...
2,8714,Piper,aduncum,Piper,aduncum,Brasil,Brazil,Araguaína,Goiás,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/GRAYSCALE/...
color                                                  grayscale
image_size                                                   512
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                              Centro-Oeste
levels                                                        29
total                                                       1045
average                                                    36.03

region: Centro-Oeste color: GRAYSCALE image_size: 512 minimum_image: 20
total of levels: 17 total of images: 888

,levels,count,dst,paths,seq
0,aduncum,152,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7220, 7221, 7222, 7234, 8697, 8708, 8714, 930..."
1,amalago,31,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8772, 9544, 11468, 11548, 11642, 11894, 11897..."
2,arboreum,203,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[479, 486, 3132, 4565, 7290, 7295, 7308, 8814,..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,9123,Piper,regnellii,Piper,regnellii,Brasil,Brazil,None,Distrito Federal,[https://storage.googleapis.com/cria-zoomify/h...
1,20304,Piper,arboreum,Piper,arboreum,Brasil,Brasil,Cuiabá,Mato Grosso,[https://storage.googleapis.com/cria-zoomify/h...
2,8714,Piper,aduncum,Piper,aduncum,Brasil,Brazil,Araguaína,Goiás,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/GRAYSCALE/...
color                                                  grayscale
image_size                                                   512
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                              Centro-Oeste
levels                                                        17
total                                                        888
average                                                    52.24

region: Sul color: GRAYSCALE image_size: 256 minimum_image: 5
total of levels: 72 total of images: 2459

,levels,count,dst,paths,seq
0,aduncum,56,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8701, 8702, 9674, 9927, 10002, 10051, 10094, ..."
1,alata,25,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9865, 9884, 9911, 10134, 10178, 10271, 10380,..."
2,alnoides,9,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8737, 10967, 25408, 29775, 42080, 42081, 4208..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,9735,Piper,arboreum,Piper,arboreum,Brasil,Brazil,Antonina,Paraná,[https://storage.googleapis.com/cria-zoomify/h...
1,13064,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Diamante do Norte,Paraná,[https://storage.googleapis.com/cria-zoomify/h...
2,9821,Piper,corcovadensis,Piper,grazielae,Brasil,Brazil,Bocaiúva do Sul,Paraná,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/GRAYSCALE/...
color                                                  grayscale
image_size                                                   256
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                                       Sul
levels                                                        72
total                                                       2459
average                                                    34.15

region: Sul color: GRAYSCALE image_size: 256 minimum_image: 10
total of levels: 49 total of images: 2311

,levels,count,dst,paths,seq
0,aduncum,56,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8701, 8702, 9674, 9927, 10002, 10051, 10094, ..."
1,alata,25,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9865, 9884, 9911, 10134, 10178, 10271, 10380,..."
2,amalago,82,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7707, 7723, 8236, 8761, 8767, 8768, 8783, 967..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,9735,Piper,arboreum,Piper,arboreum,Brasil,Brazil,Antonina,Paraná,[https://storage.googleapis.com/cria-zoomify/h...
1,13064,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Diamante do Norte,Paraná,[https://storage.googleapis.com/cria-zoomify/h...
2,9821,Piper,corcovadensis,Piper,grazielae,Brasil,Brazil,Bocaiúva do Sul,Paraná,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/GRAYSCALE/...
color                                                  grayscale
image_size                                                   256
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                                       Sul
levels                                                        49
total                                                       2311
average                                                    47.16

region: Sul color: GRAYSCALE image_size: 256 minimum_image: 20
total of levels: 33 total of images: 2111

,levels,count,dst,paths,seq
0,aduncum,56,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8701, 8702, 9674, 9927, 10002, 10051, 10094, ..."
1,alata,25,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9865, 9884, 9911, 10134, 10178, 10271, 10380,..."
2,amalago,82,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7707, 7723, 8236, 8761, 8767, 8768, 8783, 967..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,9735,Piper,arboreum,Piper,arboreum,Brasil,Brazil,Antonina,Paraná,[https://storage.googleapis.com/cria-zoomify/h...
1,13064,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Diamante do Norte,Paraná,[https://storage.googleapis.com/cria-zoomify/h...
2,9821,Piper,corcovadensis,Piper,grazielae,Brasil,Brazil,Bocaiúva do Sul,Paraná,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/GRAYSCALE/...
color                                                  grayscale
image_size                                                   256
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                                       Sul
levels                                                        33
total                                                       2111
average                                                    63.97

region: Sul color: GRAYSCALE image_size: 400 minimum_image: 5
total of levels: 72 total of images: 2459

,levels,count,dst,paths,seq
0,aduncum,56,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8701, 8702, 9674, 9927, 10002, 10051, 10094, ..."
1,alata,25,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9865, 9884, 9911, 10134, 10178, 10271, 10380,..."
2,alnoides,9,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8737, 10967, 25408, 29775, 42080, 42081, 4208..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,9735,Piper,arboreum,Piper,arboreum,Brasil,Brazil,Antonina,Paraná,[https://storage.googleapis.com/cria-zoomify/h...
1,13064,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Diamante do Norte,Paraná,[https://storage.googleapis.com/cria-zoomify/h...
2,9821,Piper,corcovadensis,Piper,grazielae,Brasil,Brazil,Bocaiúva do Sul,Paraná,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/GRAYSCALE/...
color                                                  grayscale
image_size                                                   400
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                                       Sul
levels                                                        72
total                                                       2459
average                                                    34.15

region: Sul color: GRAYSCALE image_size: 400 minimum_image: 10
total of levels: 49 total of images: 2311

,levels,count,dst,paths,seq
0,aduncum,56,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8701, 8702, 9674, 9927, 10002, 10051, 10094, ..."
1,alata,25,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9865, 9884, 9911, 10134, 10178, 10271, 10380,..."
2,amalago,82,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7707, 7723, 8236, 8761, 8767, 8768, 8783, 967..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,9735,Piper,arboreum,Piper,arboreum,Brasil,Brazil,Antonina,Paraná,[https://storage.googleapis.com/cria-zoomify/h...
1,13064,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Diamante do Norte,Paraná,[https://storage.googleapis.com/cria-zoomify/h...
2,9821,Piper,corcovadensis,Piper,grazielae,Brasil,Brazil,Bocaiúva do Sul,Paraná,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/GRAYSCALE/...
color                                                  grayscale
image_size                                                   400
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                                       Sul
levels                                                        49
total                                                       2311
average                                                    47.16

region: Sul color: GRAYSCALE image_size: 400 minimum_image: 20
total of levels: 33 total of images: 2111

,levels,count,dst,paths,seq
0,aduncum,56,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8701, 8702, 9674, 9927, 10002, 10051, 10094, ..."
1,alata,25,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9865, 9884, 9911, 10134, 10178, 10271, 10380,..."
2,amalago,82,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7707, 7723, 8236, 8761, 8767, 8768, 8783, 967..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,9735,Piper,arboreum,Piper,arboreum,Brasil,Brazil,Antonina,Paraná,[https://storage.googleapis.com/cria-zoomify/h...
1,13064,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Diamante do Norte,Paraná,[https://storage.googleapis.com/cria-zoomify/h...
2,9821,Piper,corcovadensis,Piper,grazielae,Brasil,Brazil,Bocaiúva do Sul,Paraná,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/GRAYSCALE/...
color                                                  grayscale
image_size                                                   400
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                                       Sul
levels                                                        33
total                                                       2111
average                                                    63.97

region: Sul color: GRAYSCALE image_size: 512 minimum_image: 5
total of levels: 72 total of images: 2459

,levels,count,dst,paths,seq
0,aduncum,56,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8701, 8702, 9674, 9927, 10002, 10051, 10094, ..."
1,alata,25,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9865, 9884, 9911, 10134, 10178, 10271, 10380,..."
2,alnoides,9,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8737, 10967, 25408, 29775, 42080, 42081, 4208..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,9735,Piper,arboreum,Piper,arboreum,Brasil,Brazil,Antonina,Paraná,[https://storage.googleapis.com/cria-zoomify/h...
1,13064,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Diamante do Norte,Paraná,[https://storage.googleapis.com/cria-zoomify/h...
2,9821,Piper,corcovadensis,Piper,grazielae,Brasil,Brazil,Bocaiúva do Sul,Paraná,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/GRAYSCALE/...
color                                                  grayscale
image_size                                                   512
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                                       Sul
levels                                                        72
total                                                       2459
average                                                    34.15

region: Sul color: GRAYSCALE image_size: 512 minimum_image: 10
total of levels: 49 total of images: 2311

,levels,count,dst,paths,seq
0,aduncum,56,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8701, 8702, 9674, 9927, 10002, 10051, 10094, ..."
1,alata,25,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9865, 9884, 9911, 10134, 10178, 10271, 10380,..."
2,amalago,82,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7707, 7723, 8236, 8761, 8767, 8768, 8783, 967..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,9735,Piper,arboreum,Piper,arboreum,Brasil,Brazil,Antonina,Paraná,[https://storage.googleapis.com/cria-zoomify/h...
1,13064,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Diamante do Norte,Paraná,[https://storage.googleapis.com/cria-zoomify/h...
2,9821,Piper,corcovadensis,Piper,grazielae,Brasil,Brazil,Bocaiúva do Sul,Paraná,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/GRAYSCALE/...
color                                                  grayscale
image_size                                                   512
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                                       Sul
levels                                                        49
total                                                       2311
average                                                    47.16

region: Sul color: GRAYSCALE image_size: 512 minimum_image: 20
total of levels: 33 total of images: 2111

,levels,count,dst,paths,seq
0,aduncum,56,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[8701, 8702, 9674, 9927, 10002, 10051, 10094, ..."
1,alata,25,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9865, 9884, 9911, 10134, 10178, 10271, 10380,..."
2,amalago,82,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7707, 7723, 8236, 8761, 8767, 8768, 8783, 967..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,9735,Piper,arboreum,Piper,arboreum,Brasil,Brazil,Antonina,Paraná,[https://storage.googleapis.com/cria-zoomify/h...
1,13064,Piper,corcovadensis,Piper,grazielae,Brasil,Brasil,Diamante do Norte,Paraná,[https://storage.googleapis.com/cria-zoomify/h...
2,9821,Piper,corcovadensis,Piper,grazielae,Brasil,Brazil,Bocaiúva do Sul,Paraná,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/GRAYSCALE/...
color                                                  grayscale
image_size                                                   512
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                                       Sul
levels                                                        33
total                                                       2111
average                                                    63.97

region: Sudeste color: GRAYSCALE image_size: 256 minimum_image: 5
total of levels: 102 total of images: 2761

,levels,count,dst,paths,seq
0,abutiloides,6,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9416, 12428, 25112, 37910, 38475, 43669]"
1,aduncum,91,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7742, 7757, 8700, 8705, 8711, 9435, 9439, 957..."
2,alata,28,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[6857, 6861, 6862, 6863, 6864, 7565, 7859, 110..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,19770,Ottonia,anisum,Piper,anisum,Brasil,Brasil,Guapimirim,Rio de Janeiro,[https://storage.googleapis.com/cria-zoomify/h...
1,7333,Piper,corcovadense,Piper,grazielae,Brasil,Brazil,Tapira,São Paulo,[https://storage.googleapis.com/cria-zoomify/h...
2,21142,Ottonia,propinqua,Piper,grazielae,Brasil,Brasil,Limeira,São Paulo,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/GRAYSCALE/...
color                                                  grayscale
image_size                                                   256
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                                   Sudeste
levels                                                       102
total                                                       2761
average                                                    27.07

region: Sudeste color: GRAYSCALE image_size: 256 minimum_image: 10
total of levels: 68 total of images: 2536

,levels,count,dst,paths,seq
0,aduncum,91,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7742, 7757, 8700, 8705, 8711, 9435, 9439, 957..."
1,alata,28,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[6857, 6861, 6862, 6863, 6864, 7565, 7859, 110..."
2,amalago,111,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[2798, 7741, 7908, 7928, 8751, 8757, 8758, 876..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,19770,Ottonia,anisum,Piper,anisum,Brasil,Brasil,Guapimirim,Rio de Janeiro,[https://storage.googleapis.com/cria-zoomify/h...
1,7333,Piper,corcovadense,Piper,grazielae,Brasil,Brazil,Tapira,São Paulo,[https://storage.googleapis.com/cria-zoomify/h...
2,21142,Ottonia,propinqua,Piper,grazielae,Brasil,Brasil,Limeira,São Paulo,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/GRAYSCALE/...
color                                                  grayscale
image_size                                                   256
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                                   Sudeste
levels                                                        68
total                                                       2536
average                                                    37.29

region: Sudeste color: GRAYSCALE image_size: 256 minimum_image: 20
total of levels: 42 total of images: 2211

,levels,count,dst,paths,seq
0,aduncum,91,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7742, 7757, 8700, 8705, 8711, 9435, 9439, 957..."
1,alata,28,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[6857, 6861, 6862, 6863, 6864, 7565, 7859, 110..."
2,amalago,111,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[2798, 7741, 7908, 7928, 8751, 8757, 8758, 876..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,19770,Ottonia,anisum,Piper,anisum,Brasil,Brasil,Guapimirim,Rio de Janeiro,[https://storage.googleapis.com/cria-zoomify/h...
1,7333,Piper,corcovadense,Piper,grazielae,Brasil,Brazil,Tapira,São Paulo,[https://storage.googleapis.com/cria-zoomify/h...
2,21142,Ottonia,propinqua,Piper,grazielae,Brasil,Brasil,Limeira,São Paulo,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/GRAYSCALE/...
color                                                  grayscale
image_size                                                   256
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                                   Sudeste
levels                                                        42
total                                                       2211
average                                                    52.64

region: Sudeste color: GRAYSCALE image_size: 400 minimum_image: 5
total of levels: 102 total of images: 2761

,levels,count,dst,paths,seq
0,abutiloides,6,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9416, 12428, 25112, 37910, 38475, 43669]"
1,aduncum,91,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7742, 7757, 8700, 8705, 8711, 9435, 9439, 957..."
2,alata,28,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[6857, 6861, 6862, 6863, 6864, 7565, 7859, 110..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,19770,Ottonia,anisum,Piper,anisum,Brasil,Brasil,Guapimirim,Rio de Janeiro,[https://storage.googleapis.com/cria-zoomify/h...
1,7333,Piper,corcovadense,Piper,grazielae,Brasil,Brazil,Tapira,São Paulo,[https://storage.googleapis.com/cria-zoomify/h...
2,21142,Ottonia,propinqua,Piper,grazielae,Brasil,Brasil,Limeira,São Paulo,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/GRAYSCALE/...
color                                                  grayscale
image_size                                                   400
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                                   Sudeste
levels                                                       102
total                                                       2761
average                                                    27.07

region: Sudeste color: GRAYSCALE image_size: 400 minimum_image: 10
total of levels: 68 total of images: 2536

,levels,count,dst,paths,seq
0,aduncum,91,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7742, 7757, 8700, 8705, 8711, 9435, 9439, 957..."
1,alata,28,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[6857, 6861, 6862, 6863, 6864, 7565, 7859, 110..."
2,amalago,111,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[2798, 7741, 7908, 7928, 8751, 8757, 8758, 876..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,19770,Ottonia,anisum,Piper,anisum,Brasil,Brasil,Guapimirim,Rio de Janeiro,[https://storage.googleapis.com/cria-zoomify/h...
1,7333,Piper,corcovadense,Piper,grazielae,Brasil,Brazil,Tapira,São Paulo,[https://storage.googleapis.com/cria-zoomify/h...
2,21142,Ottonia,propinqua,Piper,grazielae,Brasil,Brasil,Limeira,São Paulo,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/GRAYSCALE/...
color                                                  grayscale
image_size                                                   400
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                                   Sudeste
levels                                                        68
total                                                       2536
average                                                    37.29

region: Sudeste color: GRAYSCALE image_size: 400 minimum_image: 20
total of levels: 42 total of images: 2211

,levels,count,dst,paths,seq
0,aduncum,91,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7742, 7757, 8700, 8705, 8711, 9435, 9439, 957..."
1,alata,28,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[6857, 6861, 6862, 6863, 6864, 7565, 7859, 110..."
2,amalago,111,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[2798, 7741, 7908, 7928, 8751, 8757, 8758, 876..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,19770,Ottonia,anisum,Piper,anisum,Brasil,Brasil,Guapimirim,Rio de Janeiro,[https://storage.googleapis.com/cria-zoomify/h...
1,7333,Piper,corcovadense,Piper,grazielae,Brasil,Brazil,Tapira,São Paulo,[https://storage.googleapis.com/cria-zoomify/h...
2,21142,Ottonia,propinqua,Piper,grazielae,Brasil,Brasil,Limeira,São Paulo,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/GRAYSCALE/...
color                                                  grayscale
image_size                                                   400
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                                   Sudeste
levels                                                        42
total                                                       2211
average                                                    52.64

region: Sudeste color: GRAYSCALE image_size: 512 minimum_image: 5
total of levels: 102 total of images: 2761

,levels,count,dst,paths,seq
0,abutiloides,6,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[9416, 12428, 25112, 37910, 38475, 43669]"
1,aduncum,91,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7742, 7757, 8700, 8705, 8711, 9435, 9439, 957..."
2,alata,28,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[6857, 6861, 6862, 6863, 6864, 7565, 7859, 110..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,19770,Ottonia,anisum,Piper,anisum,Brasil,Brasil,Guapimirim,Rio de Janeiro,[https://storage.googleapis.com/cria-zoomify/h...
1,7333,Piper,corcovadense,Piper,grazielae,Brasil,Brazil,Tapira,São Paulo,[https://storage.googleapis.com/cria-zoomify/h...
2,21142,Ottonia,propinqua,Piper,grazielae,Brasil,Brasil,Limeira,São Paulo,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/GRAYSCALE/...
color                                                  grayscale
image_size                                                   512
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                                   Sudeste
levels                                                       102
total                                                       2761
average                                                    27.07

region: Sudeste color: GRAYSCALE image_size: 512 minimum_image: 10
total of levels: 68 total of images: 2536

,levels,count,dst,paths,seq
0,aduncum,91,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7742, 7757, 8700, 8705, 8711, 9435, 9439, 957..."
1,alata,28,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[6857, 6861, 6862, 6863, 6864, 7565, 7859, 110..."
2,amalago,111,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[2798, 7741, 7908, 7928, 8751, 8757, 8758, 876..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,19770,Ottonia,anisum,Piper,anisum,Brasil,Brasil,Guapimirim,Rio de Janeiro,[https://storage.googleapis.com/cria-zoomify/h...
1,7333,Piper,corcovadense,Piper,grazielae,Brasil,Brazil,Tapira,São Paulo,[https://storage.googleapis.com/cria-zoomify/h...
2,21142,Ottonia,propinqua,Piper,grazielae,Brasil,Brasil,Limeira,São Paulo,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/GRAYSCALE/...
color                                                  grayscale
image_size                                                   512
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                                   Sudeste
levels                                                        68
total                                                       2536
average                                                    37.29

region: Sudeste color: GRAYSCALE image_size: 512 minimum_image: 20
total of levels: 42 total of images: 2211

,levels,count,dst,paths,seq
0,aduncum,91,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[7742, 7757, 8700, 8705, 8711, 9435, 9439, 957..."
1,alata,28,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[6857, 6861, 6862, 6863, 6864, 7565, 7859, 110..."
2,amalago,111,/home/xandao/Imagens/region_dataset/GRAYSCALE/...,[/media/xandao/c2f58d30-ff2c-47f7-95af-91ad6fd...,"[2798, 7741, 7908, 7928, 8751, 8757, 8758, 876..."

,seq,genus,specific_epithet,genus_trusted,specific_epithet_trusted,country_trusted,country,county,state_province,urls
0,19770,Ottonia,anisum,Piper,anisum,Brasil,Brasil,Guapimirim,Rio de Janeiro,[https://storage.googleapis.com/cria-zoomify/h...
1,7333,Piper,corcovadense,Piper,grazielae,Brasil,Brazil,Tapira,São Paulo,[https://storage.googleapis.com/cria-zoomify/h...
2,21142,Ottonia,propinqua,Piper,grazielae,Brasil,Brasil,Limeira,São Paulo,[https://storage.googleapis.com/cria-zoomify/h...

                                                               0
dst            /home/xandao/Imagens/region_dataset/GRAYSCALE/...
color                                                  grayscale
image_size                                                   512
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                                   Sudeste
levels                                                        42
total                                                       2211
average                                                    52.64

In [6]:
session.close()
engine.dispose()