In [1]:
%reload_ext autoreload
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
import os
import sqlalchemy as sa

import database as db
from images import copy_images, get_list_of_images_invalid, save_metadata, select_images
from models import County, DataTrustedIdentifier

In [3]:
engine, session=db.connect()
engine.echo=False

2023-04-05 16:00:24,819 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2023-04-05 16:00:24,819 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-04-05 16:00:24,821 INFO sqlalchemy.engine.Engine select current_schema()
2023-04-05 16:00:24,821 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-04-05 16:00:24,822 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2023-04-05 16:00:24,822 INFO sqlalchemy.engine.Engine [raw sql] {}

In [4]:
list_minimum_image=[5, 10, 20]
list_color=['rgb', 'grayscale']
list_image_size=['256', '400', '512']
list_regions=['Norte', 'Nordeste', 'Centro-Oeste', 'Sul', 'Sudeste']
path_out = '/home/xandao/Imagens/regions_dataset/images'
list_images_invalid=get_list_of_images_invalid()
list_images_invalid=list_images_invalid['barcode']

In [6]:
for color in list_color:
    for region in list_regions:
        for image_size in list_image_size:
            for minimum_image in list_minimum_image:
                query = session.query(County).filter(County.regiao.__eq__(region)).distinct().all()

                state_unaccented_lower, uf_unaccented_lower, county_unaccented_lower = db.get_state_uf_county(query)

                list_level = []
                list_path_images_final = []
                list_seq_final = []
                list_count_samples = []

                level=DataTrustedIdentifier.specific_epithet_trusted
                out=os.path.join(path_out, color.upper(), level.name, region, image_size, str(minimum_image))

                condition = sa.and_(DataTrustedIdentifier.country_trusted.__eq__('Brasil'),
                                    level.is_not(None),
                                    sa.or_(sa.and_(uf_unaccented_lower,
                                           state_unaccented_lower,
                                           county_unaccented_lower),
                                           sa.and_(uf_unaccented_lower,
                                           county_unaccented_lower),
                                           sa.and_(state_unaccented_lower,
                                           county_unaccented_lower),
                                           uf_unaccented_lower,
                                           state_unaccented_lower)
                                    )

                query = db.get_records_group_by_level(condition, level, minimum_image, session)
                print('region: %s color: %s image_size: %s minimum_image: %d' % (region, color.upper(), image_size, minimum_image))
                select_images(color, image_size, list_count_samples, list_level, list_images_invalid, list_path_images_final, list_seq_final, minimum_image, session, query)

                list_dst, list_f = copy_images(list_level, list_path_images_final, out)
                save_metadata(color, image_size, level, list_count_samples, list_dst, list_f, list_level, list_path_images_final, list_seq_final, minimum_image, out, session, region=region)

region: Norte color: RGB image_size: 256 minimum_image: 5
total of levels: 107 total of images: 2636

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/RG...
color                                                        rgb
image_size                                                   256
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                                     Norte
levels                                                       107
total                                                       2636
average                                                    24.64

region: Norte color: RGB image_size: 256 minimum_image: 10
total of levels: 68 total of images: 2352

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/RG...
color                                                        rgb
image_size                                                   256
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                                     Norte
levels                                                        68
total                                                       2352
average                                                    34.59

region: Norte color: RGB image_size: 256 minimum_image: 20
total of levels: 41 total of images: 2016

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/RG...
color                                                        rgb
image_size                                                   256
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                                     Norte
levels                                                        41
total                                                       2016
average                                                    49.17

region: Norte color: RGB image_size: 400 minimum_image: 5
total of levels: 107 total of images: 2636

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/RG...
color                                                        rgb
image_size                                                   400
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                                     Norte
levels                                                       107
total                                                       2636
average                                                    24.64

region: Norte color: RGB image_size: 400 minimum_image: 10
total of levels: 68 total of images: 2352

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/RG...
color                                                        rgb
image_size                                                   400
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                                     Norte
levels                                                        68
total                                                       2352
average                                                    34.59

region: Norte color: RGB image_size: 400 minimum_image: 20
total of levels: 41 total of images: 2016

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/RG...
color                                                        rgb
image_size                                                   400
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                                     Norte
levels                                                        41
total                                                       2016
average                                                    49.17

region: Norte color: RGB image_size: 512 minimum_image: 5
total of levels: 107 total of images: 2636

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/RG...
color                                                        rgb
image_size                                                   512
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                                     Norte
levels                                                       107
total                                                       2636
average                                                    24.64

region: Norte color: RGB image_size: 512 minimum_image: 10
total of levels: 68 total of images: 2352

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/RG...
color                                                        rgb
image_size                                                   512
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                                     Norte
levels                                                        68
total                                                       2352
average                                                    34.59

region: Norte color: RGB image_size: 512 minimum_image: 20
total of levels: 41 total of images: 2016

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/RG...
color                                                        rgb
image_size                                                   512
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                                     Norte
levels                                                        41
total                                                       2016
average                                                    49.17

region: Nordeste color: RGB image_size: 256 minimum_image: 5
total of levels: 48 total of images: 1063

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/RG...
color                                                        rgb
image_size                                                   256
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                                  Nordeste
levels                                                        48
total                                                       1063
average                                                    22.15

region: Nordeste color: RGB image_size: 256 minimum_image: 10
total of levels: 35 total of images: 974

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/RG...
color                                                        rgb
image_size                                                   256
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                                  Nordeste
levels                                                        35
total                                                        974
average                                                    27.83

region: Nordeste color: RGB image_size: 256 minimum_image: 20
total of levels: 21 total of images: 776

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/RG...
color                                                        rgb
image_size                                                   256
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                                  Nordeste
levels                                                        21
total                                                        776
average                                                    36.95

region: Nordeste color: RGB image_size: 400 minimum_image: 5
total of levels: 48 total of images: 1063

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/RG...
color                                                        rgb
image_size                                                   400
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                                  Nordeste
levels                                                        48
total                                                       1063
average                                                    22.15

region: Nordeste color: RGB image_size: 400 minimum_image: 10
total of levels: 35 total of images: 974

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/RG...
color                                                        rgb
image_size                                                   400
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                                  Nordeste
levels                                                        35
total                                                        974
average                                                    27.83

region: Nordeste color: RGB image_size: 400 minimum_image: 20
total of levels: 21 total of images: 776

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/RG...
color                                                        rgb
image_size                                                   400
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                                  Nordeste
levels                                                        21
total                                                        776
average                                                    36.95

region: Nordeste color: RGB image_size: 512 minimum_image: 5
total of levels: 48 total of images: 1063

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/RG...
color                                                        rgb
image_size                                                   512
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                                  Nordeste
levels                                                        48
total                                                       1063
average                                                    22.15

region: Nordeste color: RGB image_size: 512 minimum_image: 10
total of levels: 35 total of images: 974

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/RG...
color                                                        rgb
image_size                                                   512
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                                  Nordeste
levels                                                        35
total                                                        974
average                                                    27.83

region: Nordeste color: RGB image_size: 512 minimum_image: 20
total of levels: 21 total of images: 776

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/RG...
color                                                        rgb
image_size                                                   512
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                                  Nordeste
levels                                                        21
total                                                        776
average                                                    36.95

region: Centro-Oeste color: RGB image_size: 256 minimum_image: 5
total of levels: 42 total of images: 1137

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/RG...
color                                                        rgb
image_size                                                   256
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                              Centro-Oeste
levels                                                        42
total                                                       1137
average                                                    27.07

region: Centro-Oeste color: RGB image_size: 256 minimum_image: 10
total of levels: 29 total of images: 1045

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/RG...
color                                                        rgb
image_size                                                   256
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                              Centro-Oeste
levels                                                        29
total                                                       1045
average                                                    36.03

region: Centro-Oeste color: RGB image_size: 256 minimum_image: 20
total of levels: 17 total of images: 888

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/RG...
color                                                        rgb
image_size                                                   256
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                              Centro-Oeste
levels                                                        17
total                                                        888
average                                                    52.24

region: Centro-Oeste color: RGB image_size: 400 minimum_image: 5
total of levels: 42 total of images: 1137

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/RG...
color                                                        rgb
image_size                                                   400
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                              Centro-Oeste
levels                                                        42
total                                                       1137
average                                                    27.07

region: Centro-Oeste color: RGB image_size: 400 minimum_image: 10
total of levels: 29 total of images: 1045

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/RG...
color                                                        rgb
image_size                                                   400
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                              Centro-Oeste
levels                                                        29
total                                                       1045
average                                                    36.03

region: Centro-Oeste color: RGB image_size: 400 minimum_image: 20
total of levels: 17 total of images: 888

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/RG...
color                                                        rgb
image_size                                                   400
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                              Centro-Oeste
levels                                                        17
total                                                        888
average                                                    52.24

region: Centro-Oeste color: RGB image_size: 512 minimum_image: 5
total of levels: 42 total of images: 1137

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/RG...
color                                                        rgb
image_size                                                   512
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                              Centro-Oeste
levels                                                        42
total                                                       1137
average                                                    27.07

region: Centro-Oeste color: RGB image_size: 512 minimum_image: 10
total of levels: 29 total of images: 1045

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/RG...
color                                                        rgb
image_size                                                   512
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                              Centro-Oeste
levels                                                        29
total                                                       1045
average                                                    36.03

region: Centro-Oeste color: RGB image_size: 512 minimum_image: 20
total of levels: 17 total of images: 888

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/RG...
color                                                        rgb
image_size                                                   512
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                              Centro-Oeste
levels                                                        17
total                                                        888
average                                                    52.24

region: Sul color: RGB image_size: 256 minimum_image: 5
total of levels: 72 total of images: 2459

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/RG...
color                                                        rgb
image_size                                                   256
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                                       Sul
levels                                                        72
total                                                       2459
average                                                    34.15

region: Sul color: RGB image_size: 256 minimum_image: 10
total of levels: 49 total of images: 2311

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/RG...
color                                                        rgb
image_size                                                   256
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                                       Sul
levels                                                        49
total                                                       2311
average                                                    47.16

region: Sul color: RGB image_size: 256 minimum_image: 20
total of levels: 33 total of images: 2111

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/RG...
color                                                        rgb
image_size                                                   256
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                                       Sul
levels                                                        33
total                                                       2111
average                                                    63.97

region: Sul color: RGB image_size: 400 minimum_image: 5
total of levels: 72 total of images: 2459

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/RG...
color                                                        rgb
image_size                                                   400
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                                       Sul
levels                                                        72
total                                                       2459
average                                                    34.15

region: Sul color: RGB image_size: 400 minimum_image: 10
total of levels: 49 total of images: 2311

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/RG...
color                                                        rgb
image_size                                                   400
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                                       Sul
levels                                                        49
total                                                       2311
average                                                    47.16

region: Sul color: RGB image_size: 400 minimum_image: 20
total of levels: 33 total of images: 2111

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/RG...
color                                                        rgb
image_size                                                   400
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                                       Sul
levels                                                        33
total                                                       2111
average                                                    63.97

region: Sul color: RGB image_size: 512 minimum_image: 5
total of levels: 72 total of images: 2459

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/RG...
color                                                        rgb
image_size                                                   512
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                                       Sul
levels                                                        72
total                                                       2459
average                                                    34.15

region: Sul color: RGB image_size: 512 minimum_image: 10
total of levels: 49 total of images: 2311

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/RG...
color                                                        rgb
image_size                                                   512
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                                       Sul
levels                                                        49
total                                                       2311
average                                                    47.16

region: Sul color: RGB image_size: 512 minimum_image: 20
total of levels: 33 total of images: 2111

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/RG...
color                                                        rgb
image_size                                                   512
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                                       Sul
levels                                                        33
total                                                       2111
average                                                    63.97

region: Sudeste color: RGB image_size: 256 minimum_image: 5
total of levels: 102 total of images: 2761

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/RG...
color                                                        rgb
image_size                                                   256
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                                   Sudeste
levels                                                       102
total                                                       2761
average                                                    27.07

region: Sudeste color: RGB image_size: 256 minimum_image: 10
total of levels: 68 total of images: 2536

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/RG...
color                                                        rgb
image_size                                                   256
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                                   Sudeste
levels                                                        68
total                                                       2536
average                                                    37.29

region: Sudeste color: RGB image_size: 256 minimum_image: 20
total of levels: 42 total of images: 2211

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/RG...
color                                                        rgb
image_size                                                   256
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                                   Sudeste
levels                                                        42
total                                                       2211
average                                                    52.64

region: Sudeste color: RGB image_size: 400 minimum_image: 5
total of levels: 102 total of images: 2761

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/RG...
color                                                        rgb
image_size                                                   400
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                                   Sudeste
levels                                                       102
total                                                       2761
average                                                    27.07

region: Sudeste color: RGB image_size: 400 minimum_image: 10
total of levels: 68 total of images: 2536

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/RG...
color                                                        rgb
image_size                                                   400
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                                   Sudeste
levels                                                        68
total                                                       2536
average                                                    37.29

region: Sudeste color: RGB image_size: 400 minimum_image: 20
total of levels: 42 total of images: 2211

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/RG...
color                                                        rgb
image_size                                                   400
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                                   Sudeste
levels                                                        42
total                                                       2211
average                                                    52.64

region: Sudeste color: RGB image_size: 512 minimum_image: 5
total of levels: 102 total of images: 2761

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/RG...
color                                                        rgb
image_size                                                   512
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                                   Sudeste
levels                                                       102
total                                                       2761
average                                                    27.07

region: Sudeste color: RGB image_size: 512 minimum_image: 10
total of levels: 68 total of images: 2536

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/RG...
color                                                        rgb
image_size                                                   512
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                                   Sudeste
levels                                                        68
total                                                       2536
average                                                    37.29

region: Sudeste color: RGB image_size: 512 minimum_image: 20
total of levels: 42 total of images: 2211

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/RG...
color                                                        rgb
image_size                                                   512
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                                   Sudeste
levels                                                        42
total                                                       2211
average                                                    52.64

region: Norte color: GRAYSCALE image_size: 256 minimum_image: 5
total of levels: 107 total of images: 2636

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/GR...
color                                                  grayscale
image_size                                                   256
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                                     Norte
levels                                                       107
total                                                       2636
average                                                    24.64

region: Norte color: GRAYSCALE image_size: 256 minimum_image: 10
total of levels: 68 total of images: 2352

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/GR...
color                                                  grayscale
image_size                                                   256
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                                     Norte
levels                                                        68
total                                                       2352
average                                                    34.59

region: Norte color: GRAYSCALE image_size: 256 minimum_image: 20
total of levels: 41 total of images: 2016

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/GR...
color                                                  grayscale
image_size                                                   256
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                                     Norte
levels                                                        41
total                                                       2016
average                                                    49.17

region: Norte color: GRAYSCALE image_size: 400 minimum_image: 5
total of levels: 107 total of images: 2636

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/GR...
color                                                  grayscale
image_size                                                   400
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                                     Norte
levels                                                       107
total                                                       2636
average                                                    24.64

region: Norte color: GRAYSCALE image_size: 400 minimum_image: 10
total of levels: 68 total of images: 2352

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/GR...
color                                                  grayscale
image_size                                                   400
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                                     Norte
levels                                                        68
total                                                       2352
average                                                    34.59

region: Norte color: GRAYSCALE image_size: 400 minimum_image: 20
total of levels: 41 total of images: 2016

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/GR...
color                                                  grayscale
image_size                                                   400
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                                     Norte
levels                                                        41
total                                                       2016
average                                                    49.17

region: Norte color: GRAYSCALE image_size: 512 minimum_image: 5
total of levels: 107 total of images: 2636

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/GR...
color                                                  grayscale
image_size                                                   512
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                                     Norte
levels                                                       107
total                                                       2636
average                                                    24.64

region: Norte color: GRAYSCALE image_size: 512 minimum_image: 10
total of levels: 68 total of images: 2352

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/GR...
color                                                  grayscale
image_size                                                   512
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                                     Norte
levels                                                        68
total                                                       2352
average                                                    34.59

region: Norte color: GRAYSCALE image_size: 512 minimum_image: 20
total of levels: 41 total of images: 2016

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/GR...
color                                                  grayscale
image_size                                                   512
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                                     Norte
levels                                                        41
total                                                       2016
average                                                    49.17

region: Nordeste color: GRAYSCALE image_size: 256 minimum_image: 5
total of levels: 48 total of images: 1063

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/GR...
color                                                  grayscale
image_size                                                   256
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                                  Nordeste
levels                                                        48
total                                                       1063
average                                                    22.15

region: Nordeste color: GRAYSCALE image_size: 256 minimum_image: 10
total of levels: 35 total of images: 974

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/GR...
color                                                  grayscale
image_size                                                   256
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                                  Nordeste
levels                                                        35
total                                                        974
average                                                    27.83

region: Nordeste color: GRAYSCALE image_size: 256 minimum_image: 20
total of levels: 21 total of images: 776

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/GR...
color                                                  grayscale
image_size                                                   256
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                                  Nordeste
levels                                                        21
total                                                        776
average                                                    36.95

region: Nordeste color: GRAYSCALE image_size: 400 minimum_image: 5
total of levels: 48 total of images: 1063

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/GR...
color                                                  grayscale
image_size                                                   400
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                                  Nordeste
levels                                                        48
total                                                       1063
average                                                    22.15

region: Nordeste color: GRAYSCALE image_size: 400 minimum_image: 10
total of levels: 35 total of images: 974

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/GR...
color                                                  grayscale
image_size                                                   400
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                                  Nordeste
levels                                                        35
total                                                        974
average                                                    27.83

region: Nordeste color: GRAYSCALE image_size: 400 minimum_image: 20
total of levels: 21 total of images: 776

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/GR...
color                                                  grayscale
image_size                                                   400
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                                  Nordeste
levels                                                        21
total                                                        776
average                                                    36.95

region: Nordeste color: GRAYSCALE image_size: 512 minimum_image: 5
total of levels: 48 total of images: 1063

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/GR...
color                                                  grayscale
image_size                                                   512
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                                  Nordeste
levels                                                        48
total                                                       1063
average                                                    22.15

region: Nordeste color: GRAYSCALE image_size: 512 minimum_image: 10
total of levels: 35 total of images: 974

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/GR...
color                                                  grayscale
image_size                                                   512
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                                  Nordeste
levels                                                        35
total                                                        974
average                                                    27.83

region: Nordeste color: GRAYSCALE image_size: 512 minimum_image: 20
total of levels: 21 total of images: 776

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/GR...
color                                                  grayscale
image_size                                                   512
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                                  Nordeste
levels                                                        21
total                                                        776
average                                                    36.95

region: Centro-Oeste color: GRAYSCALE image_size: 256 minimum_image: 5
total of levels: 42 total of images: 1137

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/GR...
color                                                  grayscale
image_size                                                   256
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                              Centro-Oeste
levels                                                        42
total                                                       1137
average                                                    27.07

region: Centro-Oeste color: GRAYSCALE image_size: 256 minimum_image: 10
total of levels: 29 total of images: 1045

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/GR...
color                                                  grayscale
image_size                                                   256
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                              Centro-Oeste
levels                                                        29
total                                                       1045
average                                                    36.03

region: Centro-Oeste color: GRAYSCALE image_size: 256 minimum_image: 20
total of levels: 17 total of images: 888

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/GR...
color                                                  grayscale
image_size                                                   256
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                              Centro-Oeste
levels                                                        17
total                                                        888
average                                                    52.24

region: Centro-Oeste color: GRAYSCALE image_size: 400 minimum_image: 5
total of levels: 42 total of images: 1137

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/GR...
color                                                  grayscale
image_size                                                   400
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                              Centro-Oeste
levels                                                        42
total                                                       1137
average                                                    27.07

region: Centro-Oeste color: GRAYSCALE image_size: 400 minimum_image: 10
total of levels: 29 total of images: 1045

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/GR...
color                                                  grayscale
image_size                                                   400
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                              Centro-Oeste
levels                                                        29
total                                                       1045
average                                                    36.03

region: Centro-Oeste color: GRAYSCALE image_size: 400 minimum_image: 20
total of levels: 17 total of images: 888

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/GR...
color                                                  grayscale
image_size                                                   400
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                              Centro-Oeste
levels                                                        17
total                                                        888
average                                                    52.24

region: Centro-Oeste color: GRAYSCALE image_size: 512 minimum_image: 5
total of levels: 42 total of images: 1137

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/GR...
color                                                  grayscale
image_size                                                   512
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                              Centro-Oeste
levels                                                        42
total                                                       1137
average                                                    27.07

region: Centro-Oeste color: GRAYSCALE image_size: 512 minimum_image: 10
total of levels: 29 total of images: 1045

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/GR...
color                                                  grayscale
image_size                                                   512
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                              Centro-Oeste
levels                                                        29
total                                                       1045
average                                                    36.03

region: Centro-Oeste color: GRAYSCALE image_size: 512 minimum_image: 20
total of levels: 17 total of images: 888

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/GR...
color                                                  grayscale
image_size                                                   512
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                              Centro-Oeste
levels                                                        17
total                                                        888
average                                                    52.24

region: Sul color: GRAYSCALE image_size: 256 minimum_image: 5
total of levels: 72 total of images: 2459

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/GR...
color                                                  grayscale
image_size                                                   256
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                                       Sul
levels                                                        72
total                                                       2459
average                                                    34.15

region: Sul color: GRAYSCALE image_size: 256 minimum_image: 10
total of levels: 49 total of images: 2311

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/GR...
color                                                  grayscale
image_size                                                   256
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                                       Sul
levels                                                        49
total                                                       2311
average                                                    47.16

region: Sul color: GRAYSCALE image_size: 256 minimum_image: 20
total of levels: 33 total of images: 2111

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/GR...
color                                                  grayscale
image_size                                                   256
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                                       Sul
levels                                                        33
total                                                       2111
average                                                    63.97

region: Sul color: GRAYSCALE image_size: 400 minimum_image: 5
total of levels: 72 total of images: 2459

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/GR...
color                                                  grayscale
image_size                                                   400
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                                       Sul
levels                                                        72
total                                                       2459
average                                                    34.15

region: Sul color: GRAYSCALE image_size: 400 minimum_image: 10
total of levels: 49 total of images: 2311

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/GR...
color                                                  grayscale
image_size                                                   400
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                                       Sul
levels                                                        49
total                                                       2311
average                                                    47.16

region: Sul color: GRAYSCALE image_size: 400 minimum_image: 20
total of levels: 33 total of images: 2111

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/GR...
color                                                  grayscale
image_size                                                   400
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                                       Sul
levels                                                        33
total                                                       2111
average                                                    63.97

region: Sul color: GRAYSCALE image_size: 512 minimum_image: 5
total of levels: 72 total of images: 2459

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/GR...
color                                                  grayscale
image_size                                                   512
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                                       Sul
levels                                                        72
total                                                       2459
average                                                    34.15

region: Sul color: GRAYSCALE image_size: 512 minimum_image: 10
total of levels: 49 total of images: 2311

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/GR...
color                                                  grayscale
image_size                                                   512
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                                       Sul
levels                                                        49
total                                                       2311
average                                                    47.16

region: Sul color: GRAYSCALE image_size: 512 minimum_image: 20
total of levels: 33 total of images: 2111

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/GR...
color                                                  grayscale
image_size                                                   512
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                                       Sul
levels                                                        33
total                                                       2111
average                                                    63.97

region: Sudeste color: GRAYSCALE image_size: 256 minimum_image: 5
total of levels: 102 total of images: 2761

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/GR...
color                                                  grayscale
image_size                                                   256
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                                   Sudeste
levels                                                       102
total                                                       2761
average                                                    27.07

region: Sudeste color: GRAYSCALE image_size: 256 minimum_image: 10
total of levels: 68 total of images: 2536

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/GR...
color                                                  grayscale
image_size                                                   256
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                                   Sudeste
levels                                                        68
total                                                       2536
average                                                    37.29

region: Sudeste color: GRAYSCALE image_size: 256 minimum_image: 20
total of levels: 42 total of images: 2211

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/GR...
color                                                  grayscale
image_size                                                   256
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                                   Sudeste
levels                                                        42
total                                                       2211
average                                                    52.64

region: Sudeste color: GRAYSCALE image_size: 400 minimum_image: 5
total of levels: 102 total of images: 2761

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/GR...
color                                                  grayscale
image_size                                                   400
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                                   Sudeste
levels                                                       102
total                                                       2761
average                                                    27.07

region: Sudeste color: GRAYSCALE image_size: 400 minimum_image: 10
total of levels: 68 total of images: 2536

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/GR...
color                                                  grayscale
image_size                                                   400
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                                   Sudeste
levels                                                        68
total                                                       2536
average                                                    37.29

region: Sudeste color: GRAYSCALE image_size: 400 minimum_image: 20
total of levels: 42 total of images: 2211

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/GR...
color                                                  grayscale
image_size                                                   400
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                                   Sudeste
levels                                                        42
total                                                       2211
average                                                    52.64

region: Sudeste color: GRAYSCALE image_size: 512 minimum_image: 5
total of levels: 102 total of images: 2761

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/GR...
color                                                  grayscale
image_size                                                   512
minimum_image                                                  5
level_name                              specific_epithet_trusted
region                                                   Sudeste
levels                                                       102
total                                                       2761
average                                                    27.07

region: Sudeste color: GRAYSCALE image_size: 512 minimum_image: 10
total of levels: 68 total of images: 2536

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/GR...
color                                                  grayscale
image_size                                                   512
minimum_image                                                 10
level_name                              specific_epithet_trusted
region                                                   Sudeste
levels                                                        68
total                                                       2536
average                                                    37.29

region: Sudeste color: GRAYSCALE image_size: 512 minimum_image: 20
total of levels: 42 total of images: 2211

                                                               0
dst            /home/xandao/Imagens/regions_dataset/images/GR...
color                                                  grayscale
image_size                                                   512
minimum_image                                                 20
level_name                              specific_epithet_trusted
region                                                   Sudeste
levels                                                        42
total                                                       2211
average                                                    52.64

In [ ]:
session.close()
engine.dispose()