In [1]:
%reload_ext autoreload
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
import os
import pandas as pd
import sys

sys.path.append(os.path.dirname(os.path.dirname(os.path.abspath('main.ipynb'))))

import database as db
from models import County, DataTrustedIdentifier, TrustedIdentifier, DataSP, Image, create_data_trusted_identifier

## Database connection

In [3]:
engine, session = db.connect()
engine.echo = False

2023-03-28 17:32:18,293 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2023-03-28 17:32:18,294 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-03-28 17:32:18,295 INFO sqlalchemy.engine.Engine select current_schema()
2023-03-28 17:32:18,295 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-03-28 17:32:18,296 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2023-03-28 17:32:18,296 INFO sqlalchemy.engine.Engine [raw sql] {}

## List with full name and variations of identifier

In [4]:
list_identifier_trusted = {
    'full_name': ['Aline Vieira de Melo Silva', 'Carmen Lúcia Falcão Ichaso', 'Daniele Monteiro Ferreira', 'Daniel Ruschel', 'Elsie Franklin Guimarães', 'Eric J Tepe', 'Erika Erika Von Sohsten de Souza Medeiros', 'George Azevedo de Queiroz', 'Micheline Carvalho-Silva', 'Ricardo de la Merced Callejas Posada', 'Truman George Yuncker', 'William Trelease'],
    'searched_name': ['Silva', 'Ichaso', 'Monteiro', 'Ruschel', 'Guimar', 'Tepe', 'Medeiros', 'Queiroz', 'Carvalho', 'Callejas', 'Yuncker', 'Trelease']
}

pd.DataFrame(list_identifier_trusted)

                                    full_name searched_name
0                  Aline Vieira de Melo Silva         Silva
1                  Carmen Lúcia Falcão Ichaso        Ichaso
2                   Daniele Monteiro Ferreira      Monteiro
3                              Daniel Ruschel       Ruschel
4                    Elsie Franklin Guimarães        Guimar
5                                 Eric J Tepe          Tepe
6   Erika Erika Von Sohsten de Souza Medeiros      Medeiros
7                   George Azevedo de Queiroz       Queiroz
8                    Micheline Carvalho-Silva      Carvalho
9        Ricardo de la Merced Callejas Posada      Callejas
10                      Truman George Yuncker       Yuncker
11                           William Trelease      Trelease

## Get list of records with variations of name identifier

In [5]:
query = session.query(TrustedIdentifier.value_founded) \
    .filter(TrustedIdentifier.trusted) \
    .distinct()\
    .all()

list_variations_of_identifiers_trusted = [q.value_founded for q in query]

count_of_records_with_variations_identifier_name = session.query(DataSP) \
    .filter(DataSP.identified_by.in_(list_variations_of_identifiers_trusted))\
    .count()

print('count of records founded with variations of identifier name: %d' % count_of_records_with_variations_identifier_name)

count of records founded with variations of identifier name: 13182

## Create table data by trusted identifiers

In [6]:
db.create_table(engine, DataTrustedIdentifier)
count_data_in_data_trusted_identifier = session.query(DataTrustedIdentifier).count()

if count_data_in_data_trusted_identifier == 0:
    query = session.query(DataSP) \
        .filter(DataSP.identified_by.in_(list_variations_of_identifiers_trusted)) \
        .all()

    for i, q in enumerate(query):
        try:
            new_data_of_identifier_trusted = create_data_trusted_identifier(q)
            session.add(new_data_of_identifier_trusted)
            session.commit()
        except Exception as e:
            print(e)

count_data_from_trusted_identifers = session.query(DataTrustedIdentifier).count()
print('count of records in table %s: %d' % (DataTrustedIdentifier.__tablename__, count_data_from_trusted_identifers))

create table: data_trusted_identifier
count of records in table data_trusted_identifier: 13182

## Close connection

In [7]:
session.close()
engine.dispose()